In [1]:
#!pip install lightgbm

In [2]:
#Data Structures
import pandas as pd
import numpy as np
import re
import os

### For installing missingno library, type this command in terminal
#pip install missingno

import missingno as msno

#Sklearn
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, precision_score, recall_score
import xgboost as xgb  # Load this xgboost
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, cross_val_score, learning_curve, train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import metrics
from sklearn.ensemble import AdaBoostClassifier

#Plotting
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

#Others
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df = pd.read_csv("train_health.csv")
data=df.copy()
unseen = pd.read_csv("test_health.csv")
unseen_df=unseen.copy()
print(data.shape)
print(unseen.shape)
data

(140700, 20)
(93800, 19)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [4]:
unseen_df

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
93796,234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
93797,234497,Rishi,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No
93798,234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
93799,234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [5]:
data.drop(columns=['id','Name','CGPA'], inplace=True)
data

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,Male,27.0,Patna,Student,NaN,4.0,NaN,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [6]:
unseen_df.drop(columns=['Name','CGPA'], inplace=True)
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Female,23.0,Rajkot,Student,NaN,5.0,NaN,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
93796,234496,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
93797,234497,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No
93798,234498,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
93799,234499,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [7]:
null_values = data.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                    Missing Values  Missing Percent
Profession                   36630        26.034115
Academic Pressure           112803        80.172708
Work Pressure                27918        19.842217
Study Satisfaction          112803        80.172708
Job Satisfaction             27910        19.836532
Dietary Habits                   4         0.002843
Degree                           2         0.001421
Financial Stress                 4         0.002843

In [8]:
null_values = unseen_df.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                    Missing Values  Missing Percent
Profession                   24632        17.506752
Academic Pressure            75033        53.328358
Work Pressure                18778        13.346127
Study Satisfaction           75033        53.328358
Job Satisfaction             18774        13.343284
Dietary Habits                   5         0.003554
Degree                           2         0.001421

In [9]:
data[(data['Work Pressure'].notnull()) & (data['Academic Pressure'].notnull())]

Empty DataFrame
Columns: [Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [10]:
data['work_study_pressure'] = np.where(
    data['Work Pressure'].isnull(),  # If work_pressure is null
    data['Academic Pressure'],          # Use study_pressure
    data['Work Pressure']            # Otherwise, use work_pressure
)

# Combine work_satisfaction and study_satisfaction
data['Job_Study_Satisfaction'] = np.where(
    data['Job Satisfaction'].isnull(),  # If work_satisfaction is null
    data['Study Satisfaction'],          # Use study_satisfaction
    data['Job Satisfaction']            # Otherwise, use work_satisfaction
)
data

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,Patna,Student,NaN,4.0,NaN,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [11]:
unseen_df['work_study_pressure'] = np.where(
    unseen_df['Work Pressure'].isnull(),  # If work_pressure is null
    unseen_df['Academic Pressure'],          # Use study_pressure
    unseen_df['Work Pressure']            # Otherwise, use work_pressure
)

# Combine work_satisfaction and study_satisfaction
unseen_df['Job_Study_Satisfaction'] = np.where(
    unseen_df['Job Satisfaction'].isnull(),  # If work_satisfaction is null
    unseen_df['Study Satisfaction'],          # Use study_satisfaction
    unseen_df['Job Satisfaction']            # Otherwise, use work_satisfaction
)
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction
0,140700,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,2.0,5.0
1,140701,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,2.0,4.0
2,140702,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,4.0,1.0
3,140703,Female,23.0,Rajkot,Student,NaN,5.0,NaN,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,5.0,1.0
4,140704,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes,3.0,5.0
93796,234496,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes,5.0,1.0
93797,234497,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No,1.0,4.0
93798,234498,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes,4.0,2.0
93799,234499,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No,5.0,2.0

In [12]:
unseen_df.drop(['Work Pressure', 'Academic Pressure', 'Study Satisfaction', 'Job Satisfaction'], axis=1, inplace=True)
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction
0,140700,Male,53.0,Visakhapatnam,Working Professional,Judge,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,2.0,5.0
1,140701,Female,58.0,Kolkata,Working Professional,Educational Consultant,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,2.0,4.0
2,140702,Male,53.0,Jaipur,Working Professional,Teacher,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,4.0,1.0
3,140703,Female,23.0,Rajkot,Student,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,5.0,1.0
4,140704,Male,47.0,Kalyan,Working Professional,Teacher,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Female,49.0,Jaipur,Working Professional,Pilot,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes,3.0,5.0
93796,234496,Male,29.0,Ahmedabad,Working Professional,Pilot,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes,5.0,1.0
93797,234497,Male,24.0,Visakhapatnam,Student,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No,1.0,4.0
93798,234498,Female,23.0,Kalyan,Working Professional,Marketing Manager,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes,4.0,2.0
93799,234499,Female,43.0,Varanasi,Working Professional,Educational Consultant,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No,5.0,2.0

In [13]:
data.drop(['Work Pressure', 'Academic Pressure', 'Study Satisfaction', 'Job Satisfaction'], axis=1, inplace=True)
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,Ludhiana,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,Varanasi,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,Visakhapatnam,Student,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,Mumbai,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,Kanpur,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,Ahmedabad,Working Professional,NaN,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,Srinagar,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,Patna,Student,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [14]:
null_values = data.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                        Missing Values  Missing Percent
Profession                       36630        26.034115
Dietary Habits                       4         0.002843
Degree                               2         0.001421
Financial Stress                     4         0.002843
work_study_pressure                 21         0.014925
Job_Study_Satisfaction              15         0.010661

In [15]:
null_values = unseen_df.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                        Missing Values  Missing Percent
Profession                       24632        17.506752
Dietary Habits                       5         0.003554
Degree                               2         0.001421
work_study_pressure                 12         0.008529
Job_Study_Satisfaction               8         0.005686

In [16]:
#data[data[['work_study_pressure', 'Job_Study_Satisfaction']].isnull().any(axis=1)]
data['Profession']
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,Ludhiana,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,Varanasi,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,Visakhapatnam,Student,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,Mumbai,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,Kanpur,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,Ahmedabad,Working Professional,NaN,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,Srinagar,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,Patna,Student,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [17]:
data['Profession'] = np.where(
    data['Working Professional or Student'] == 'Student',
    'Student',  # Assign "Student" for all students 
    data['Profession'].fillna('Not Specified') # Keep existing values for working professionals
)

In [18]:
unseen_df['Profession'] = np.where(
    unseen_df['Working Professional or Student'] == 'Student',
    'Student',  # Assign "Student" for all students 
    unseen_df['Profession'].fillna('Not Specified') # Keep existing values for working professionals
)

In [19]:
null_values = data.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                        Missing Values  Missing Percent
Dietary Habits                       4         0.002843
Degree                               2         0.001421
Financial Stress                     4         0.002843
work_study_pressure                 21         0.014925
Job_Study_Satisfaction              15         0.010661

In [20]:
null_values = unseen_df.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

                        Missing Values  Missing Percent
Dietary Habits                       5         0.003554
Degree                               2         0.001421
work_study_pressure                 12         0.008529
Job_Study_Satisfaction               8         0.005686

In [21]:
columns_with_nulls = ['Dietary Habits', 'Degree', 'work_study_pressure', 'Job_Study_Satisfaction']

# Filter rows where any of the specified columns have null values
null_rows = unseen_df[unseen_df[columns_with_nulls].isnull().any(axis=1)]

null_rows

,id,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction
9005,149705,Male,18.0,Vasai-Virar,Working Professional,Not Specified,Less than 5 hours,Unhealthy,Class 12,Yes,9.0,4.0,No,NaN,2.0
12603,153303,Female,19.0,Srinagar,Working Professional,Not Specified,5-6 hours,Healthy,Class 12,Yes,9.0,2.0,Yes,3.0,NaN
13366,154066,Female,28.0,Vasai-Virar,Student,Student,5-6 hours,NaN,BCA,Yes,1.0,5.0,Yes,3.0,2.0
20226,160926,Female,19.0,Rajkot,Working Professional,Not Specified,Less than 5 hours,Moderate,Class 12,Yes,0.0,5.0,Yes,NaN,2.0
23447,164147,Male,30.0,Kolkata,Student,Student,Less than 5 hours,Healthy,BHM,No,0.0,5.0,No,NaN,NaN
25318,166018,Male,24.0,Rajkot,Working Professional,Not Specified,5-6 hours,Unhealthy,Class 12,Yes,3.0,5.0,Yes,5.0,NaN
25367,166067,Female,21.0,Srinagar,Student,Student,7-8 hours,Healthy,B.Com,No,11.0,4.0,Yes,2.0,NaN
28895,169595,Female,18.0,Meerut,Student,Student,More than 8 hours,NaN,Class 12,No,2.0,2.0,No,5.0,5.0
31133,171833,Female,33.0,Kolkata,Working Professional,Not Specified,More than 8 hours,Healthy,MCA,Yes,11.0,1.0,Yes,NaN,5.0
31798,172498,Female,28.0,Mumbai,Working Professional,Not Specified,5-6 hours,Unhealthy,BCA,Yes,8.0,4.0,No,NaN,NaN
34047,174747,Female,50.0,Thane,Working Professional,Not Specified,Less than 5 hours,Unhealthy,Class 12,Yes,2.0,5.0,No,NaN,NaN
35289,175989,Male,24.0,Kolkata,Student,Student,5-6 hours,Unhealthy,B.Tech,Yes,10.0,5.0,No,NaN,5.0
41076,181776,Female,52.0,Kanpur,Working Professional,Not Specified,7-8 hours,Unhealthy,M.Pharm,Yes,3.0,3.0,No,NaN,2.0
45446,186146,Female,45.0,Srinagar,Student,Student,Less than 5 hours,Unhealthy,LLM,Yes,0.0,5.0,Yes,NaN,1.0
48615,189315,Male,44.0,Bhopal,Working Professional,Business Analyst,Less than 5 hours,NaN,MCA,No,4.0,3.0,Yes,4.0,2.0
48976,189676,Female,37.0,Thane,Working Professional,Not Specified,Less than 5 hours,Moderate,LLB,Yes,0.0,2.0,Yes,NaN,NaN
56708,197408,Female,20.0,Ludhiana,Working Professional,HR Manager,Less than 5 hours,Healthy,NaN,Yes,2.0,1.0,No,4.0,1.0
69648,210348,Male,39.0,Bhopal,Working Professional,Not Specified,Less than 5 hours,Moderate,Class 12,Yes,4.0,2.0,No,NaN,3.0
83308,224008,Male,33.0,Ludhiana,Student,Student,More than 8 hours,Moderate,BCA,No,0.0,2.0,Yes,NaN,5.0
87245,227945,Male,24.0,Meerut,Working Professional,Not Specified,More than 8 hours,Moderate,B.Com,No,0.0,2.0,No,5.0,NaN
87457,228157,Female,23.0,Ghaziabad,Working Professional,Teacher,5-6 hours,NaN,BA,Yes,12.0,5.0,Yes,4.0,2.0
90389,231089,Female,27.0,Pune,Student,Student,More than 8 hours,NaN,LLB,Yes,11.0,4.0,No,2.0,2.0
92998,233698,Female,32.0,Varanasi,Student,Student,Less than 5 hours,Unhealthy,NaN,No,0.0,4.0,No,1.0,3.0

In [22]:
from sklearn.impute import SimpleImputer

# Categorical columns
cat_cols = ['Dietary Habits', 'Degree']
cat_imputer = SimpleImputer(strategy='most_frequent')
unseen_df[cat_cols] = cat_imputer.fit_transform(unseen_df[cat_cols])

# Numerical columns
num_cols = ['work_study_pressure', 'Job_Study_Satisfaction']
num_imputer = SimpleImputer(strategy='median')  # Use 'mean' if preferred
unseen_df[num_cols] = num_imputer.fit_transform(unseen_df[num_cols])

print(unseen_df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
work_study_pressure                      0
Job_Study_Satisfaction                   0
dtype: int64

In [23]:
columns_to_check = ['Dietary Habits', 'Degree', 'Financial Stress', 'work_study_pressure', 'Job_Study_Satisfaction']

# Drop rows where any of these columns have null values
data=data.dropna(subset=columns_to_check)
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,Ludhiana,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,Varanasi,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,Visakhapatnam,Student,Student,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,Mumbai,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,Kanpur,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,Ahmedabad,Working Professional,Not Specified,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,Hyderabad,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,Kolkata,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,Srinagar,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,Patna,Student,Student,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [24]:
null_values = data.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

Empty DataFrame
Columns: [Missing Values, Missing Percent]
Index: []

In [25]:
null_values = unseen_df.isnull().sum()

null_values_percent=(100 * null_values )/len(data)
null_values_percent
null_values_table = pd.concat([null_values,null_values_percent] ,axis=1)
null_values_table = null_values_table.rename(columns = {0:"Missing Values", 1:"Missing Percent"})
null_values_table 
all_null_values_table = null_values_table[null_values_table["Missing Percent"] >0]
all_null_values_table

Empty DataFrame
Columns: [Missing Values, Missing Percent]
Index: []

In [26]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Gender,"[Female, Male]",object
1,Age,"[49.0, 26.0, 33.0, 22.0, 30.0, 59.0, 47.0, 38....",float64
2,City,"[Ludhiana, Varanasi, Visakhapatnam, Mumbai, Ka...",object
3,Working Professional or Student,"[Working Professional, Student]",object
4,Profession,"[Chef, Teacher, Student, Business Analyst, Fin...",object
5,Sleep Duration,"[More than 8 hours, Less than 5 hours, 5-6 hou...",object
6,Dietary Habits,"[Healthy, Unhealthy, Moderate, Yes, Pratham, B...",object
7,Degree,"[BHM, LLB, B.Pharm, BBA, MCA, MD, BSc, ME, B.A...",object
8,Have you ever had suicidal thoughts ?,"[No, Yes]",object
9,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
10,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
11,Family History of Mental Illness,"[No, Yes]",object
12,Depression,"[0, 1]",int64
13,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
14,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64

In [27]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Gender,"[Male, Female]",object
2,Age,"[53.0, 58.0, 23.0, 47.0, 29.0, 28.0, 21.0, 45....",float64
3,City,"[Visakhapatnam, Kolkata, Jaipur, Rajkot, Kalya...",object
4,Working Professional or Student,"[Working Professional, Student]",object
5,Profession,"[Judge, Educational Consultant, Teacher, Stude...",object
6,Sleep Duration,"[Less than 5 hours, 7-8 hours, More than 8 hou...",object
7,Dietary Habits,"[Moderate, Healthy, Unhealthy, More Healthy, N...",object
8,Degree,"[LLB, B.Ed, B.Arch, BSc, BCA, B.Com, MA, BA, B...",object
9,Have you ever had suicidal thoughts ?,"[No, Yes]",object
10,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
11,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
12,Family History of Mental Illness,"[Yes, No]",object
13,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
14,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64

In [28]:
data['City'].unique()

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore', 'Ishanabad', 'Vidhi', 'Ayush', 'Gurgaon',
       'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Nalini', 'Aditya',
       'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna',
       'Less Delhi', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush',
       'City', '3.0', 'Less than 5 Kalyan', 'MCA', 'Mira', 'Moreadhyay',
       'Morena', 'Ishkarsh', 'Kashk', 'Mihir', 'Vidya', 'Tolkata', 'Anvi',
       'Krinda', 'Ayansh', 'Shrey', 'Ivaan', 'Vaanya', 'Gaurav', 'Harsh',
       'Reyansh', 'Kashish', 'Kibara', 'Vaishnavi', 'Chhavi', 'Parth',
       'Mahi', 'Tushar', 'MSc', 'No', 'Rashi', 'ME', 'Molkata',
       'Researcher', 'Kagan', 'Armaan', 'Ithal', 'Nalyan', 'Dhruv',
       'Galesabad', 'Itheg', 'Aaradhya', 'Pooja', 'Khushi', 'Khaziabad',
       'Jhanvi', 'Unirar'], dtype=object)

In [29]:
valid_cities = ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad', 'Ahmedabad', 
                'Pune', 'Surat', 'Jaipur', 'Lucknow', 'Kanpur', 'Nagpur', 'Patna', 'Indore', 
                'Thane', 'Bhopal', 'Visakhapatnam', 'Vadodara', 'Ghaziabad', 'Rajkot', 
                'Faridabad', 'Meerut', 'Nashik', 'Agra', 'Ludhiana', 'Kalyan', 'Vasai-Virar','Varanasi','Gurgaon','Mumbai','Srinagar',
               'Morena','Khaziabad','Molkata','Less Delhi','Nalini','Less than 5 Kalyan','Nalyan','Tolkata']
provided_list = data['City'].unique()
valid_entries = [city for city in provided_list if city in valid_cities]
invalid_entries = [city for city in provided_list if city not in valid_cities]

print("Valid cities:", len(valid_entries))
print("Invalid entries:", invalid_entries)
data['City'] = data['City'].replace(invalid_entries, 'Others')

Valid cities: 39
Invalid entries: ['Ishanabad', 'Vidhi', 'Ayush', 'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Aditya', 'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush', 'City', '3.0', 'MCA', 'Mira', 'Moreadhyay', 'Ishkarsh', 'Kashk', 'Mihir', 'Vidya', 'Anvi', 'Krinda', 'Ayansh', 'Shrey', 'Ivaan', 'Vaanya', 'Gaurav', 'Harsh', 'Reyansh', 'Kashish', 'Kibara', 'Vaishnavi', 'Chhavi', 'Parth', 'Mahi', 'Tushar', 'MSc', 'No', 'Rashi', 'ME', 'Researcher', 'Kagan', 'Armaan', 'Ithal', 'Dhruv', 'Galesabad', 'Itheg', 'Aaradhya', 'Pooja', 'Khushi', 'Jhanvi', 'Unirar']

In [30]:
data['City'].value_counts()

City
Kalyan                6590
Patna                 5922
Vasai-Virar           5764
Kolkata               5688
Ahmedabad             5611
Meerut                5526
Ludhiana              5226
Pune                  5208
Rajkot                5207
Visakhapatnam         5175
Srinagar              5072
Mumbai                4966
Indore                4871
Agra                  4681
Surat                 4635
Varanasi              4603
Vadodara              4565
Hyderabad             4493
Kanpur                4396
Jaipur                4328
Thane                 4288
Lucknow               4280
Nagpur                4209
Bangalore             4122
Chennai               4044
Ghaziabad             3619
Delhi                 3593
Bhopal                3474
Faridabad             3266
Nashik                3141
Others                  87
Nalini                   2
Molkata                  2
Gurgaon                  1
Less Delhi               1
Less than 5 Kalyan       1
Morena                   1
Tolkata                  1
Nalyan                   1
Khaziabad                1
Name: count, dtype: int64

In [31]:
corrections = {
    'Molkata': 'Kolkata',
    'Tolkata': 'Kolkata',
    'Less Delhi': 'Delhi',
    'Less than 5 Kalyan': 'Kalyan',
    'Morena': 'Morena',  # Already correct, can be excluded
    'Nalyan': 'Kalyan',
    'Khaziabad': 'Ghaziabad'
}

# Replace incorrect names with correct ones
data['City'] = data['City'].replace(corrections)
data['City'].value_counts()

City
Kalyan           6592
Patna            5922
Vasai-Virar      5764
Kolkata          5691
Ahmedabad        5611
Meerut           5526
Ludhiana         5226
Pune             5208
Rajkot           5207
Visakhapatnam    5175
Srinagar         5072
Mumbai           4966
Indore           4871
Agra             4681
Surat            4635
Varanasi         4603
Vadodara         4565
Hyderabad        4493
Kanpur           4396
Jaipur           4328
Thane            4288
Lucknow          4280
Nagpur           4209
Bangalore        4122
Chennai          4044
Ghaziabad        3620
Delhi            3594
Bhopal           3474
Faridabad        3266
Nashik           3141
Others             87
Nalini              2
Gurgaon             1
Morena              1
Name: count, dtype: int64

In [32]:
#city_categories = {
#    'Delhi': 'Metro',
#    'Mumbai': 'Metro',
#    'Kolkata': 'Metro',
#    'Chennai': 'Metro',
 #   'Bangalore': 'Metro',
#    'Hyderabad': 'Metro',
#    
#    'Ahmedabad': 'Tier-2',
#    'Pune': 'Tier-2',
#    'Surat': 'Tier-2',
#    'Jaipur': 'Tier-2',
#    'Lucknow': 'Tier-2',
#    'Kanpur': 'Tier-2',
#    'Indore': 'Tier-2',
#    'Bhopal': 'Tier-2',
#    'Vadodara': 'Tier-2',
#    'Nagpur': 'Tier-2',
#    'Ludhiana': 'Tier-2',
#    'Rajkot': 'Tier-2',
#    'Visakhapatnam': 'Tier-2',
#    'Varanasi': 'Tier-2',
#    'Patna': 'Tier-2',
#    'Thane': 'Tier-2',
#    'Ghaziabad': 'Tier-2',
#    'Faridabad': 'Tier-2',
#    'Agra': 'Tier-2',
#    'Meerut': 'Tier-2',
#    'Nashik': 'Tier-2',
#    'Vasai-Virar': 'Tier-2',
#    'Srinagar': 'Tier-2',
    
#    'Nalini': 'Others',
#    'Morena': 'Others',
#    'Gurgaon': 'Others',
#    'Others': 'Others'  # Already categorized
#}

# Categorize cities
#data['City_Category'] = data['City'].map(city_categories).fillna('Others')

# View the grouped data
#print(data['City_Category'].value_counts())

In [33]:
city_depression = data.groupby('City')['Depression'].mean()

# View depression rate by city category
print(city_depression)

City
Agra             0.192267
Ahmedabad        0.217608
Bangalore        0.175400
Bhopal           0.232297
Chennai          0.194362
Delhi            0.191708
Faridabad        0.146356
Ghaziabad        0.195304
Gurgaon          0.000000
Hyderabad        0.275317
Indore           0.160953
Jaipur           0.181377
Kalyan           0.199636
Kanpur           0.125569
Kolkata          0.173607
Lucknow          0.214019
Ludhiana         0.192690
Meerut           0.134093
Morena           0.000000
Mumbai           0.131293
Nagpur           0.144928
Nalini           0.500000
Nashik           0.158548
Others           0.195402
Patna            0.163121
Pune             0.161098
Rajkot           0.173228
Srinagar         0.211554
Surat            0.201942
Thane            0.242071
Vadodara         0.167141
Varanasi         0.141864
Vasai-Virar      0.197953
Visakhapatnam    0.159034
Name: Depression, dtype: float64

In [34]:
city_depression = data.groupby('City')['Depression'].mean()

# Create a copy of the original data
#data_one = data.copy()

# Define the function to group cities into tiers based on depression rates
def group_by_custom_threshold(rate):
    if rate < 0.1:
        return 0
    elif rate < 0.2:
        return 1
    elif rate < 0.3:
        return 2
    elif rate < 0.4:
        return 3
    else:
        return 4

# Map the depression rates to their corresponding tiers and create a new column for city tiers
data['City'] = data['City'].map(city_depression.apply(group_by_custom_threshold))
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,1,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,1,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,1,Student,Student,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,1,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,1,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,2,Working Professional,Not Specified,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,2,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,1,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,2,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,1,Student,Student,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [35]:
unseen_df['City'].unique()

array(['Visakhapatnam', 'Kolkata', 'Jaipur', 'Rajkot', 'Kalyan', 'Mumbai',
       'Surat', 'Srinagar', 'Delhi', 'Lucknow', 'Thane', 'Meerut',
       'Nagpur', 'Ghaziabad', 'Chennai', 'Varanasi', 'Indore', 'Pune',
       'Hyderabad', 'Kanpur', 'Nashik', 'Bhopal', 'Faridabad',
       'Bangalore', 'Vasai-Virar', 'Ludhiana', 'Patna', 'Vadodara',
       'Ahmedabad', 'Agra', 'Malyan', 'Pratyush', 'Vidya',
       'Less than 5 hours', 'Aditi', 'Keshav', 'Nalini', 'Mhopal', 'Avni',
       'Ira', 'Vaishnavi', 'Bhavna', 'Lawyer', 'Thani', 'Hrithik', 'City',
       'Unaly', 'Is Kanpur', 'Golkata', 'Less Delhi', 'Sara', 'Saurav',
       'Vikram', 'Parth', 'Siddhesh', 'Vaikot', 'Leela', 'Chemist',
       'San Vasai-Virar', 'No', 'More Delhi', 'Saanvi', 'Pratham',
       'Vidhi', 'Abhinav', 'Rolkata', 'Ghopal', 'No.12'], dtype=object)

In [36]:
unseen_df['City'].value_counts()

City
Kalyan               4387
Vasai-Virar          3897
Patna                3888
Kolkata              3726
Ahmedabad            3677
                     ...
Mhopal                  1
Less than 5 hours       1
Pratyush                1
Malyan                  1
No.12                   1
Name: count, Length: 68, dtype: int64

In [37]:
valid_cities = ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad', 'Ahmedabad', 
                'Pune', 'Surat', 'Jaipur', 'Lucknow', 'Kanpur', 'Nagpur', 'Patna', 'Indore', 
                'Thane', 'Bhopal', 'Visakhapatnam', 'Vadodara', 'Ghaziabad', 'Rajkot', 
                'Faridabad', 'Meerut', 'Nashik', 'Agra', 'Ludhiana', 'Kalyan', 'Vasai-Virar','Varanasi','Gurgaon','Mumbai','Srinagar',
               'Morena','Khaziabad','Molkata','Less Delhi','Nalini','Less than 5 Kalyan','Nalyan','Tolkata','Malyan','Mhopal','Thani','Is Kanpur',
               'Golkata','San Vasai-Virar','More Delhi','Rolkata','Ghopal']
provided_list = unseen_df['City'].unique()
valid_entries = [city for city in provided_list if city in valid_cities]
invalid_entries = [city for city in provided_list if city not in valid_cities]

print("Valid cities:", len(valid_entries))
print("Invalid entries:", invalid_entries)
unseen_df['City'] = unseen_df['City'].replace(invalid_entries, 'Others')

Valid cities: 41
Invalid entries: ['Pratyush', 'Vidya', 'Less than 5 hours', 'Aditi', 'Keshav', 'Avni', 'Ira', 'Vaishnavi', 'Bhavna', 'Lawyer', 'Hrithik', 'City', 'Unaly', 'Sara', 'Saurav', 'Vikram', 'Parth', 'Siddhesh', 'Vaikot', 'Leela', 'Chemist', 'No', 'Saanvi', 'Pratham', 'Vidhi', 'Abhinav', 'No.12']

In [38]:
unseen_df['City'].value_counts()

City
Kalyan             4387
Vasai-Virar        3897
Patna              3888
Kolkata            3726
Ahmedabad          3677
Meerut             3661
Srinagar           3547
Ludhiana           3545
Rajkot             3450
Visakhapatnam      3416
Pune               3318
Agra               3189
Vadodara           3169
Mumbai             3129
Hyderabad          3123
Surat              3090
Varanasi           3052
Indore             3040
Kanpur             2978
Jaipur             2874
Lucknow            2860
Thane              2835
Nagpur             2748
Bangalore          2707
Chennai            2674
Delhi              2536
Ghaziabad          2486
Bhopal             2370
Faridabad          2196
Nashik             2182
Others               38
Nalini                2
Malyan                1
Mhopal                1
Thani                 1
Is Kanpur             1
Golkata               1
Less Delhi            1
San Vasai-Virar       1
More Delhi            1
Rolkata               1
Ghopal                1
Name: count, dtype: int64

In [39]:
corrections = {
    'Golkata': 'Kolkata',
    'More Delhi': 'Delhi',
    'Is Kanpur': 'Kanpur',
    'Thani': 'Thane',
    'Ghopal': 'Bhopal',  # Already correct, can be excluded
    'Malyan': 'Kalyan',
    'Mhopal': 'Bhopal',
    'San Vasai-Virar':'Vasai-Virar',
    'Less Delhi':'Delhi',
    'Rolkata': 'Kolkata'
}

# Replace incorrect names with correct ones
unseen_df['City'] = unseen_df['City'].replace(corrections)
unseen_df['City'].value_counts()

City
Kalyan           4388
Vasai-Virar      3898
Patna            3888
Kolkata          3728
Ahmedabad        3677
Meerut           3661
Srinagar         3547
Ludhiana         3545
Rajkot           3450
Visakhapatnam    3416
Pune             3318
Agra             3189
Vadodara         3169
Mumbai           3129
Hyderabad        3123
Surat            3090
Varanasi         3052
Indore           3040
Kanpur           2979
Jaipur           2874
Lucknow          2860
Thane            2836
Nagpur           2748
Bangalore        2707
Chennai          2674
Delhi            2538
Ghaziabad        2486
Bhopal           2372
Faridabad        2196
Nashik           2182
Others             38
Nalini              2
Name: count, dtype: int64

In [40]:
# Create a copy of the original data
#data_one = data.copy()

# Define the function to group cities into tiers based on depression rates
def group_by_custom_threshold(rate):
    if rate < 0.1:
        return 0
    elif rate < 0.2:
        return 1
    elif rate < 0.3:
        return 2
    elif rate < 0.4:
        return 3
    else:
        return 4

# Map the depression rates to their corresponding tiers and create a new column for city tiers
unseen_df['City'] = unseen_df['City'].map(city_depression.apply(group_by_custom_threshold))
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction
0,140700,Male,53.0,1,Working Professional,Judge,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,2.0,5.0
1,140701,Female,58.0,1,Working Professional,Educational Consultant,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,2.0,4.0
2,140702,Male,53.0,1,Working Professional,Teacher,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,4.0,1.0
3,140703,Female,23.0,1,Student,Student,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,5.0,1.0
4,140704,Male,47.0,1,Working Professional,Teacher,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Female,49.0,1,Working Professional,Pilot,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes,3.0,5.0
93796,234496,Male,29.0,2,Working Professional,Pilot,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes,5.0,1.0
93797,234497,Male,24.0,1,Student,Student,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No,1.0,4.0
93798,234498,Female,23.0,1,Working Professional,Marketing Manager,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes,4.0,2.0
93799,234499,Female,43.0,1,Working Professional,Educational Consultant,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No,5.0,2.0

In [41]:
data['Dietary Habits'].unique()

array(['Healthy', 'Unhealthy', 'Moderate', 'Yes', 'Pratham', 'BSc',
       'Gender', '3', 'More Healthy', 'Less than Healthy', 'Mihir', '1.0',
       'Hormonal', 'Electrician', 'No Healthy', 'Less Healthy', 'M.Tech',
       'Vegas', 'No', 'Male', 'Indoor', 'Class 12', '2'], dtype=object)

In [42]:
unseen_df['Dietary Habits'].unique()

array(['Moderate', 'Healthy', 'Unhealthy', 'More Healthy', 'No', 'Indoor',
       'Prachi', 'Male', 'Less Healthy', 'Mealy', 'Resistant', 'MCA',
       '5 Healthy', 'Academic', 'Educational', 'Soham', '5 Unhealthy',
       'Vivaan', 'Raghav', '1.0', 'Naina', 'Kolkata'], dtype=object)

In [43]:
unseen_df['Dietary Habits'].value_counts()

Dietary Habits
Moderate        33023
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: count, dtype: int64

In [44]:
irrelevant_values = ['Naina', 'Academic', 'Raghav','Vivaan','Soham','Educational','MCA','Resistant','Prachi','Male','Indoor','Kolkata','Mealy']
irrelevant_values_one = ['No', '5 Unhealthy', '1.0','Less Healthy']
unseen_df['Dietary Habits'] = unseen_df['Dietary Habits'].replace(irrelevant_values, 'Moderate')
unseen_df['Dietary Habits'] = unseen_df['Dietary Habits'].replace(irrelevant_values_one, 'Unhealthy')
unseen_df['Dietary Habits'] = unseen_df['Dietary Habits'].replace(['More Healthy','5 Healthy'] , 'Healthy')
unseen_df['Dietary Habits'].value_counts()

Dietary Habits
Moderate     33036
Unhealthy    30795
Healthy      29969
Name: count, dtype: int64

In [45]:
irrelevant_values = ['Less than Healthy','Pratham', 'Mihir', 'Male', 'Electrician','M.Tech','Gender','BSc','1.0','Class 12','2','Male','No','Vegas','Yes','3','Indoor']
irrelevant_values_one = ['No', '5 Unhealthy', '1.0','Less Healthy','Hormonal','No Healthy']
data['Dietary Habits'] = data['Dietary Habits'].replace(irrelevant_values, 'Moderate')
data['Dietary Habits'] = data['Dietary Habits'].replace(irrelevant_values_one, 'Unhealthy')
data['Dietary Habits'] = data['Dietary Habits'].replace(['More Healthy',] , 'Healthy')
# Remove rows with these irrelevant values
data = data[~data['Dietary Habits'].isin(irrelevant_values)]
unseen_df['Dietary Habits'].value_counts()

Dietary Habits
Moderate     33036
Unhealthy    30795
Healthy      29969
Name: count, dtype: int64

In [46]:
data['Dietary Habits'].value_counts()

Dietary Habits
Moderate     49706
Unhealthy    46219
Healthy      44736
Name: count, dtype: int64

In [47]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Gender,"[Female, Male]",object
1,Age,"[49.0, 26.0, 33.0, 22.0, 30.0, 59.0, 47.0, 38....",float64
2,City,"[1, 2, 0, 4]",int64
3,Working Professional or Student,"[Working Professional, Student]",object
4,Profession,"[Chef, Teacher, Student, Business Analyst, Fin...",object
5,Sleep Duration,"[More than 8 hours, Less than 5 hours, 5-6 hou...",object
6,Dietary Habits,"[Healthy, Unhealthy, Moderate]",object
7,Degree,"[BHM, LLB, B.Pharm, BBA, MCA, MD, BSc, ME, B.A...",object
8,Have you ever had suicidal thoughts ?,"[No, Yes]",object
9,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
10,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
11,Family History of Mental Illness,"[No, Yes]",object
12,Depression,"[0, 1]",int64
13,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
14,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64

In [48]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Gender,"[Male, Female]",object
2,Age,"[53.0, 58.0, 23.0, 47.0, 29.0, 28.0, 21.0, 45....",float64
3,City,"[1, 2, 4]",int64
4,Working Professional or Student,"[Working Professional, Student]",object
5,Profession,"[Judge, Educational Consultant, Teacher, Stude...",object
6,Sleep Duration,"[Less than 5 hours, 7-8 hours, More than 8 hou...",object
7,Dietary Habits,"[Moderate, Healthy, Unhealthy]",object
8,Degree,"[LLB, B.Ed, B.Arch, BSc, BCA, B.Com, MA, BA, B...",object
9,Have you ever had suicidal thoughts ?,"[No, Yes]",object
10,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
11,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
12,Family History of Mental Illness,"[Yes, No]",object
13,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
14,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64

In [49]:
#Define age bins and corresponding labels
"""bins = [0, 18, 30, 45, 60, 100]  # Define the age ranges (e.g., 0-18, 19-30, etc.)
labels = ['Child', 'Young Adult', 'Adult', 'Middle-Aged', 'Senior']  # Labels for each bin

# Create the categorical column
data['Age Group'] = pd.cut(data['Age'], bins=bins, labels=labels, right=False)""" 
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,49.0,1,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,26.0,1,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,33.0,1,Student,Student,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,22.0,1,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,30.0,1,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,18.0,2,Working Professional,Not Specified,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,41.0,2,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,24.0,1,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,49.0,2,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,27.0,1,Student,Student,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [50]:
"""bins = [0, 18, 30, 45, 60, 100]  # Define the age ranges (e.g., 0-18, 19-30, etc.)
labels = ['Child', 'Young Adult', 'Adult', 'Middle-Aged', 'Senior']  # Labels for each bin

# Create the categorical column
unseen_df['Age Group'] = pd.cut(unseen_df['Age'], bins=bins, labels=labels, right=False)""" 
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction
0,140700,Male,53.0,1,Working Professional,Judge,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,2.0,5.0
1,140701,Female,58.0,1,Working Professional,Educational Consultant,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,2.0,4.0
2,140702,Male,53.0,1,Working Professional,Teacher,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,4.0,1.0
3,140703,Female,23.0,1,Student,Student,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,5.0,1.0
4,140704,Male,47.0,1,Working Professional,Teacher,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Female,49.0,1,Working Professional,Pilot,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes,3.0,5.0
93796,234496,Male,29.0,2,Working Professional,Pilot,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes,5.0,1.0
93797,234497,Male,24.0,1,Student,Student,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No,1.0,4.0
93798,234498,Female,23.0,1,Working Professional,Marketing Manager,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes,4.0,2.0
93799,234499,Female,43.0,1,Working Professional,Educational Consultant,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No,5.0,2.0

In [51]:
#data.drop(['Age'], axis=1, inplace=True)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['Age'] = np.log(data['Age'] + 1)
unseen_df['Age'] = np.log(unseen_df['Age'] + 1)
data['Age'] = scaler.fit_transform(data[['Age']])
unseen_df['Age'] = scaler.fit_transform(unseen_df[['Age']])

In [52]:

"""from sklearn.preprocessing import MinMaxScaler
data['Age'] = 1 / (data['Age'] + 1e-5)  # Adding a small constant to avoid division by zero
unseen_df['Age'] = 1 / (unseen_df['Age'] + 1e-5)

# Now proceed with scaling or any other transformations if needed
scaler = MinMaxScaler()
data['Age'] = scaler.fit_transform(data[['Age']])
unseen_df['Age'] = scaler.transform(unseen_df[['Age']])"""

"from sklearn.preprocessing import MinMaxScaler\ndata['Age'] = 1 / (data['Age'] + 1e-5)  # Adding a small constant to avoid division by zero\nunseen_df['Age'] = 1 / (unseen_df['Age'] + 1e-5)\n\n# Now proceed with scaling or any other transformations if needed\nscaler = MinMaxScaler()\ndata['Age'] = scaler.fit_transform(data[['Age']])\nunseen_df['Age'] = scaler.transform(unseen_df[['Age']])"

In [53]:
#unseen_df.drop(['Age'], axis=1, inplace=True)
#unseen_df

In [54]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Gender,"[Female, Male]",object
1,Age,"[0.8295225380334936, 0.3012580396511537, 0.498...",float64
2,City,"[1, 2, 0, 4]",int64
3,Working Professional or Student,"[Working Professional, Student]",object
4,Profession,"[Chef, Teacher, Student, Business Analyst, Fin...",object
5,Sleep Duration,"[More than 8 hours, Less than 5 hours, 5-6 hou...",object
6,Dietary Habits,"[Healthy, Unhealthy, Moderate]",object
7,Degree,"[BHM, LLB, B.Pharm, BBA, MCA, MD, BSc, ME, B.A...",object
8,Have you ever had suicidal thoughts ?,"[No, Yes]",object
9,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
10,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
11,Family History of Mental Illness,"[No, Yes]",object
12,Depression,"[0, 1]",int64
13,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
14,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64

In [55]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Gender,"[Male, Female]",object
2,Age,"[0.8955022529111698, 0.9714202475456699, 0.200...",float64
3,City,"[1, 2, 4]",int64
4,Working Professional or Student,"[Working Professional, Student]",object
5,Profession,"[Judge, Educational Consultant, Teacher, Stude...",object
6,Sleep Duration,"[Less than 5 hours, 7-8 hours, More than 8 hou...",object
7,Dietary Habits,"[Moderate, Healthy, Unhealthy]",object
8,Degree,"[LLB, B.Ed, B.Arch, BSc, BCA, B.Com, MA, BA, B...",object
9,Have you ever had suicidal thoughts ?,"[No, Yes]",object
10,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
11,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
12,Family History of Mental Illness,"[Yes, No]",object
13,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
14,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64

In [56]:
data['Degree'].unique()

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd',
       'B.Sc', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'Class 11',
       'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
       'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan',
       'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA',
       'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29',
       'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03',
       'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA',
       'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi',
       'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch',
       'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya',
       'Mahika', 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional',
       'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
       'B B.Com', 'RCA', 'Mihir', 'Advait'], dtype=object)

In [57]:
valid_degrees = ['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
                 'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
                 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM', 'MBBS', 'M.Pharm', 
                 'M.Arch','Class 12','B.Sc','Class 11','MS' 
                 ]
provided_list = data['Degree'].unique()

valid_entries_one = [degree for degree in provided_list if degree in valid_degrees]
invalid_entries_one = [degree for degree in provided_list if degree not in valid_degrees]

print("Valid degrees:", valid_entries_one)
print("Invalid entries:", invalid_entries_one)

Valid degrees: ['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch', 'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA', 'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM', 'MBBS', 'M.Pharm', 'B.Sc', 'Class 11', 'M.Arch']
Invalid entries: ['UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan', 'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA', 'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29', 'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03', 'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA', 'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi', 'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch', 'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya', 'Mahika', 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional', 'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA', 'B B.Com', 'RCA', 'Mihir', 'Advait']

In [58]:
corrections = {
    'BTech': 'B.Tech',
    'BArch': 'B.Arch',
    'B.CA':'BCA',
    'RCA':'BCA',
    'PCA':'BCA',  # Already correct, can be excluded
    'HCA':'BCA',
    'LCA':'BCA',
    'ACA':'BCA',
    'B._Pharm': 'B.Pharm',
    'B_Com': 'B.Com',
    'B B.Tech':'B.Tech',
    'S.Pharm':'B.Pharm',
    'P.Pharm':'B.Pharm',
    'BEd': 'B.Ed',
    'M_Tech':'M.Tech',
    'MTech': 'M.Tech',
    'B B.Com':'B.Com',
    'N.Pharm':'B.Pharm',
    'H_Pharm':'B.Pharm',
    'B.B.Arch':'B.Arch',
    'E.Tech':'B.Tech',
    'L.Ed': 'B.Ed',
    'S.Arch':'B.Arch',
    'Doctor':'MBBS',
    'BPA':'BBA',
    'B BA':'BBA',
    'MPA':'MBA',
    'LL B.Ed':'B.Ed',
    'P.Com':'B.Com',
    'BPharm':'B.Pharm',
    'LLS':'LLM',
    'Mthanya':'M.Tech',
    'MPharm':'M.Pharm',
    'S.Tech':'B.Tech',
    'M.S':'MS',
    'LLBA':'LLB'
}

# Replace incorrect names with correct ones
data['Degree'] = data['Degree'].replace(corrections)
data['Degree'].value_counts()
data['Degree'] = data['Degree'].replace(invalid_entries_one, 'Others')
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,0.829523,1,Working Professional,Chef,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,Male,0.301258,1,Working Professional,Teacher,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,0.498889,1,Student,Student,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,0.163794,1,Working Professional,Teacher,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,0.419696,1,Working Professional,Business Analyst,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,0.000000,2,Working Professional,Not Specified,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,0.680047,2,Working Professional,Content Writer,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,0.235278,1,Working Professional,Marketing Manager,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0,3.0,1.0
140698,Female,0.829523,2,Working Professional,Plumber,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,0.332437,1,Student,Student,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1,4.0,1.0

In [59]:
#data.drop(['Profession','Degree'], axis=1, inplace=True)
#data.drop('Degree', axis=1, inplace=True)
data['Degree'].value_counts()
deg_depress=data.groupby('Degree')['Depression'].mean()
print(deg_depress)
#data

Degree
B.Arch      0.157576
B.Com       0.155638
B.Ed        0.128687
B.Pharm     0.119263
B.Sc        0.000000
B.Tech      0.214189
BA          0.125867
BBA         0.134539
BCA         0.203588
BE          0.189816
BHM         0.172630
BSc         0.155560
Class 11    1.000000
Class 12    0.512545
LLB         0.150805
LLM         0.114028
M.Arch      0.000000
M.Com       0.159664
M.Ed        0.097212
M.Pharm     0.097862
M.Tech      0.144484
MA          0.175268
MBA         0.120482
MBBS        0.170019
MCA         0.146570
MD          0.120012
ME          0.071881
MHM         0.069994
MS          0.000000
MSc         0.174047
Others      0.250000
PhD         0.142765
Name: Depression, dtype: float64

In [60]:
def categorize_depression_rate(rate):
    if rate < 0.1:
        return 0  # Very Low
    elif rate < 0.15:
        return 1  # Low
    elif rate < 0.2:
        return 2  # Medium
    else:
        return 3  # High

# Apply categorization
data['Degree'] = data['Degree'].map(deg_depress.apply(categorize_depression_rate))


# Check value counts for categories
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,0.829523,1,Working Professional,Chef,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0
1,Male,0.301258,1,Working Professional,Teacher,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,0.498889,1,Student,Student,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,0.163794,1,Working Professional,Teacher,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,0.419696,1,Working Professional,Business Analyst,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,0.000000,2,Working Professional,Not Specified,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,0.680047,2,Working Professional,Content Writer,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,0.235278,1,Working Professional,Marketing Manager,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0
140698,Female,0.829523,2,Working Professional,Plumber,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,0.332437,1,Student,Student,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0

In [61]:
valid_degrees = ['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
                 'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
                 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM', 'MBBS', 'M.Pharm', 
                 'M.Arch','Class 12','B.Sc','Class 11','MS' 
                 ]
provided_list = unseen_df['Degree'].unique()

valid_entries_one = [degree for degree in provided_list if degree in valid_degrees]
invalid_entries_one = [degree for degree in provided_list if degree not in valid_degrees]

print("Valid degrees:", valid_entries_one)
print("Invalid entries:", invalid_entries_one)

Valid degrees: ['LLB', 'B.Ed', 'B.Arch', 'BSc', 'BCA', 'B.Com', 'MA', 'BA', 'BBA', 'Class 12', 'MD', 'MBA', 'M.Ed', 'M.Pharm', 'BHM', 'LLM', 'PhD', 'M.Com', 'BE', 'MBBS', 'B.Tech', 'ME', 'MCA', 'B.Pharm', 'MHM', 'M.Tech', 'MSc', 'M.Arch', 'B.Sc']
Invalid entries: ['BTech', 'BArch', 'B. Gender', 'B.Study_Hours', 'Advait', 'A.Ed', 'Mechanical Engineer', 'B.H', 'B', 'M.UI', 'Vibha', 'B BCA', 'B.Press', 'BPharm', 'Gagan', 'MPharm', 'Travel Consultant', '5.65', 'Business Analyst', 'Eshita', 'B_Com', 'Navya', 'B._Pharm', 'Pune', 'Bian', 'B.M.Com', 'Kavya', 'M.M.Ed', 'S.Pharm', 'Vrinda', 'M', 'E.Ed', '3.0', 'Moham', 'B.BA', 'I.Ed', 'Degree', 'Magan', 'B B.Tech', 'M.B.Ed', 'Bhopal', 'B Financial Analyst', 'GCA', 'G.Ed', 'Rupak', 'RCA', 'B.CA', 'PCA', 'J.Ed', 'BH', 'BEd', '8.95', 'Aadhya', '20', 'Banchal', 'M.', 'K.Ed', 'BHCA']

In [62]:
corrections = {
    'BTech': 'B.Tech',
    'BArch': 'B.Arch',
    'B.CA':'BCA',
    'RCA':'BCA',
    'PCA':'BCA',  # Already correct, can be excluded
    'HCA':'BCA',
    'LCA':'BCA',
    'ACA':'BCA',
    'B._Pharm': 'B.Pharm',
    'B_Com': 'B.Com',
    'B B.Tech':'B.Tech',
    'S.Pharm':'B.Pharm',
    'P.Pharm':'B.Pharm',
    'BEd': 'B.Ed',
    'M_Tech':'M.Tech',
    'MTech': 'M.Tech',
    'B B.Com':'B.Com',
    'N.Pharm':'B.Pharm',
    'H_Pharm':'B.Pharm',
    'B.B.Arch':'B.Arch',
    'E.Tech':'B.Tech',
    'L.Ed': 'B.Ed',
    'S.Arch':'B.Arch',
    'Doctor':'MBBS',
    'BPA':'BBA',
    'B BA':'BBA',
    'MPA':'MBA',
    'LL B.Ed':'B.Ed',
    'P.Com':'B.Com',
    'BPharm':'B.Pharm',
    'LLS':'LLM',
    'Mthanya':'M.Tech',
    'MPharm':'M.Pharm',
    'S.Tech':'B.Tech',
    'M.S':'MS',
    'LLBA':'LLB',
    'K.Ed':'B.Ed'
}

# Replace incorrect names with correct ones
unseen_df['Degree'] = unseen_df['Degree'].replace(corrections)
print(data['Degree'].value_counts())
unseen_df['Degree'] = unseen_df['Degree'].replace(invalid_entries_one, 'Others')

Degree
1    51001
2    47585
3    24944
0    17131
Name: count, dtype: int64

In [63]:
def categorize_depression_rate(rate):
    if rate < 0.1:
        return 0  # Very Low
    elif rate < 0.15:
        return 1  # Low
    elif rate < 0.2:
        return 2  # Medium
    else:
        return 3  # High

# Apply categorization
unseen_df['Degree'] = unseen_df['Degree'].map(deg_depress.apply(categorize_depression_rate))


# Check value counts for categories
unseen_df['Degree'].isnull().sum()

0

In [64]:
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,0.829523,1,Working Professional,Chef,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0
1,Male,0.301258,1,Working Professional,Teacher,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,0.498889,1,Student,Student,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,0.163794,1,Working Professional,Teacher,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,0.419696,1,Working Professional,Business Analyst,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,0.000000,2,Working Professional,Not Specified,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,0.680047,2,Working Professional,Content Writer,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,0.235278,1,Working Professional,Marketing Manager,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0
140698,Female,0.829523,2,Working Professional,Plumber,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,0.332437,1,Student,Student,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0

In [65]:
#unseen_df.drop(['Profession','Degree'], axis=1, inplace=True)
#unseen_df.drop('Degree', axis=1, inplace=True)
#unseen_df
unseen_df['Degree'].value_counts()

Degree
1    34054
2    31862
3    16627
0    11257
Name: count, dtype: int64

In [66]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Gender,"[Female, Male]",object
1,Age,"[0.8295225380334936, 0.3012580396511537, 0.498...",float64
2,City,"[1, 2, 0, 4]",int64
3,Working Professional or Student,"[Working Professional, Student]",object
4,Profession,"[Chef, Teacher, Student, Business Analyst, Fin...",object
5,Sleep Duration,"[More than 8 hours, Less than 5 hours, 5-6 hou...",object
6,Dietary Habits,"[Healthy, Unhealthy, Moderate]",object
7,Degree,"[2, 1, 0, 3]",int64
8,Have you ever had suicidal thoughts ?,"[No, Yes]",object
9,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
10,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
11,Family History of Mental Illness,"[No, Yes]",object
12,Depression,"[0, 1]",int64
13,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
14,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64

In [67]:
data['Profession'].unique()

array(['Chef', 'Teacher', 'Student', 'Business Analyst',
       'Finanancial Analyst', 'Chemist', 'Electrician',
       'Software Engineer', 'Data Scientist', 'Plumber',
       'Marketing Manager', 'Accountant', 'Entrepreneur', 'HR Manager',
       'UX/UI Designer', 'Content Writer', 'Not Specified',
       'Educational Consultant', 'Civil Engineer', 'Manager',
       'Pharmacist', 'Financial Analyst', 'Architect',
       'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge',
       'Researcher', 'Pilot', 'Graphic Designer', 'Travel Consultant',
       'Digital Marketer', 'Lawyer', 'Research Analyst',
       'Sales Executive', 'Doctor', 'Unemployed', 'Investment Banker',
       'Family Consultant', 'B.Com', 'BE', 'Yogesh', 'Dev', 'MBA', 'LLM',
       'BCA', 'Academic', 'Profession', 'FamilyVirar', 'City Manager',
       'BBA', 'Medical Doctor', 'Working Professional', 'MBBS', 'Patna',
       'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed', 'Analyst',
       'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj'], dtype=object)

In [68]:
data['Profession'].value_counts()

Profession
Student              27891
Teacher              24900
Not Specified         8741
Content Writer        7812
Architect             4362
                     ...
City Manager             1
FamilyVirar              1
Family Consultant        1
B.Com                    1
Yuvraj                   1
Name: count, Length: 65, dtype: int64

In [69]:
valid_professions = [
    'Chef', 'Teacher', 'Student', 'Business Analyst', 'Financial Analyst', 'Chemist', 
    'Electrician', 'Software Engineer', 'Data Scientist', 'Plumber', 'Marketing Manager', 
    'Accountant', 'Entrepreneur', 'HR Manager', 'UX/UI Designer', 'Content Writer', 
    'Educational Consultant', 'Civil Engineer', 'Manager', 'Pharmacist', 'Architect', 
    'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge', 'Researcher', 'Pilot', 
    'Graphic Designer', 'Travel Consultant', 'Digital Marketer', 'Lawyer', 'Research Analyst', 
    'Sales Executive', 'Doctor', 'Investment Banker', 'Family Consultant', 'Medical Doctor', 
    'Working Professional','Unemployed','Finanancial Analyst','Surgeon','Analyst','Not Specified'
]

provided_list = data['Profession'].unique()

valid_entries = [profession for profession in provided_list if profession in valid_professions]
invalid_entries = [profession for profession in provided_list if profession not in valid_professions]

print("Valid professions:", len(valid_entries))
print("Invalid entries:", invalid_entries)
data['Profession'] = data['Profession'].replace(invalid_entries, 'Not Specified')
data['Profession'] = data['Profession'].replace('Surgeon', 'Doctor')
data['Profession'].value_counts()

Valid professions: 42
Invalid entries: ['B.Com', 'BE', 'Yogesh', 'Dev', 'MBA', 'LLM', 'BCA', 'Academic', 'Profession', 'FamilyVirar', 'City Manager', 'BBA', 'MBBS', 'Patna', 'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed', 'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj']

Profession
Student                   27891
Teacher                   24900
Not Specified              8777
Content Writer             7812
Architect                  4362
Consultant                 4228
HR Manager                 4022
Pharmacist                 3891
Doctor                     3253
Business Analyst           3161
Chemist                    2967
Entrepreneur               2967
Chef                       2860
Educational Consultant     2851
Data Scientist             2390
Researcher                 2328
Lawyer                     2211
Customer Support           2055
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1748
Sales Executive            1739
Manager                    1736
Judge                      1712
Electrician                1582
Financial Analyst          1574
Software Engineer          1510
Civil Engineer             1468
UX/UI Designer             1451
Digital Marketer           1369
Accountant                 1339
Finanancial Analyst        1329
Mechanical Engineer        1176
Graphic Designer           1163
Research Analyst            690
Investment Banker           393
Unemployed                    3
Family Consultant             1
Medical Doctor                1
Working Professional          1
Analyst                       1
Name: count, dtype: int64

In [70]:
profession_depression = data.groupby('Profession')['Depression'].mean()

# View depression rate by city category
print(profession_depression)

Profession
Accountant                0.064227
Analyst                   0.000000
Architect                 0.097662
Business Analyst          0.056628
Chef                      0.047902
Chemist                   0.028311
Civil Engineer            0.080381
Consultant                0.047067
Content Writer            0.018433
Customer Support          0.045255
Data Scientist            0.077824
Digital Marketer          0.043828
Doctor                    0.052259
Educational Consultant    0.074360
Electrician               0.041719
Entrepreneur              0.020559
Family Consultant         0.000000
Finanancial Analyst       0.041384
Financial Analyst         0.083227
Graphic Designer          0.185727
HR Manager                0.106912
Investment Banker         0.071247
Judge                     0.108645
Lawyer                    0.074627
Manager                   0.081221
Marketing Manager         0.050607
Mechanical Engineer       0.100340
Medical Doctor            0.000000
Not Specified             0.373932
Pharmacist                0.026214
Pilot                     0.051228
Plumber                   0.064073
Research Analyst          0.062319
Researcher                0.040378
Sales Executive           0.047154
Software Engineer         0.061589
Student                   0.585386
Teacher                   0.055462
Travel Consultant         0.046237
UX/UI Designer            0.039283
Unemployed                0.333333
Working Professional      0.000000
Name: Depression, dtype: float64

In [71]:
#profession_depression = data.groupby('Profession')['Depression'].mean()

# Create a copy of the original data
#data_one = data.copy()

# Define the function to group cities into tiers based on depression rates
def categorize_depression(rate):
    if rate < 0.05:
        return 0
    elif rate < 0.1:
        return 1
    elif rate < 0.2:
        return 2
    else:
        return 3


# Map the depression rates to their corresponding tiers and create a new column for city tiers
data['Profession'] = data['Profession'].map(profession_depression.apply(categorize_depression))
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction
0,Female,0.829523,1,Working Professional,0,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0
1,Male,0.301258,1,Working Professional,1,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0
2,Male,0.498889,1,Student,3,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0
3,Male,0.163794,1,Working Professional,1,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0
4,Female,0.419696,1,Working Professional,1,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,0.000000,2,Working Professional,3,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0
140696,Female,0.680047,2,Working Professional,0,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0
140697,Female,0.235278,1,Working Professional,1,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0
140698,Female,0.829523,2,Working Professional,1,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0
140699,Male,0.332437,1,Student,3,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0

In [72]:
unseen_df['Profession'].unique()

array(['Judge', 'Educational Consultant', 'Teacher', 'Student',
       'Customer Support', 'Not Specified', 'Chemist', 'Content Writer',
       'Consultant', 'HR Manager', 'Research Analyst', 'Digital Marketer',
       'Electrician', 'Marketing Manager', 'Plumber', 'Pharmacist',
       'Lawyer', 'Pilot', 'Architect', 'Chef', 'Graphic Designer',
       'Entrepreneur', 'Manager', 'Mechanical Engineer',
       'Software Engineer', 'Travel Consultant', 'Finanancial Analyst',
       'Financial Analyst', 'Doctor', 'Business Analyst',
       'UX/UI Designer', 'Sales Executive', 'Data Scientist',
       'Accountant', 'Researcher', 'Civil Engineer', 'Investment Banker',
       'Unhealthy', 'B.Ed', 'Working Professional', 'ME', 'B.Pharm',
       '24th', 'Manvi', 'Yogesh', 'Samar', 'Surat', 'PhD', 'M.Ed', 'MD',
       'Name', 'MCA', 'Simran', 'Analyst', 'Profession', 'Unemployed',
       'BBA', 'LLM', 'Surgeon', 'No', 'Unveil', 'City Consultant',
       'M.Pharm'], dtype=object)

In [73]:
unseen_df['Profession'].value_counts()

Profession
Student           18778
Teacher           16381
Not Specified      5886
Content Writer     5185
Architect          2982
                  ...
Yogesh                1
24th                  1
B.Pharm               1
ME                    1
M.Pharm               1
Name: count, Length: 63, dtype: int64

In [74]:
valid_professions = [
    'Chef', 'Teacher', 'Student', 'Business Analyst', 'Financial Analyst', 'Chemist', 
    'Electrician', 'Software Engineer', 'Data Scientist', 'Plumber', 'Marketing Manager', 
    'Accountant', 'Entrepreneur', 'HR Manager', 'UX/UI Designer', 'Content Writer', 
    'Educational Consultant', 'Civil Engineer', 'Manager', 'Pharmacist', 'Architect', 
    'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge', 'Researcher', 'Pilot', 
    'Graphic Designer', 'Travel Consultant', 'Digital Marketer', 'Lawyer', 'Research Analyst', 
    'Sales Executive', 'Doctor', 'Investment Banker', 'Family Consultant', 'Medical Doctor', 
    'Working Professional','Unemployed','Finanancial Analyst','Analyst','Not Specified'
]

provided_list = unseen_df['Profession'].unique()

valid_entries = [profession for profession in provided_list if profession in valid_professions]
invalid_entries = [profession for profession in provided_list if profession not in valid_professions]

print("Valid professions:", len(valid_entries))
print("Invalid entries:", invalid_entries)
unseen_df['Profession'] = unseen_df['Profession'].replace(invalid_entries, 'Not Specified')
unseen_df['Profession'].value_counts()

Valid professions: 40
Invalid entries: ['Unhealthy', 'B.Ed', 'ME', 'B.Pharm', '24th', 'Manvi', 'Yogesh', 'Samar', 'Surat', 'PhD', 'M.Ed', 'MD', 'Name', 'MCA', 'Simran', 'Profession', 'BBA', 'LLM', 'Surgeon', 'No', 'Unveil', 'City Consultant', 'M.Pharm']

Profession
Student                   18778
Teacher                   16381
Not Specified              5913
Content Writer             5185
Architect                  2982
Consultant                 2920
Pharmacist                 2655
HR Manager                 2600
Doctor                     2197
Business Analyst           2186
Chemist                    1966
Entrepreneur               1934
Chef                       1842
Educational Consultant     1827
Data Scientist             1581
Lawyer                     1497
Researcher                 1495
Pilot                      1448
Customer Support           1422
Marketing Manager          1284
Travel Consultant          1188
Judge                      1188
Manager                    1154
Sales Executive            1139
Plumber                    1123
Electrician                1120
Financial Analyst          1048
Software Engineer          1002
Digital Marketer            942
Civil Engineer              937
UX/UI Designer              913
Finanancial Analyst         894
Accountant                  853
Mechanical Engineer         800
Graphic Designer            719
Research Analyst            423
Investment Banker           257
Working Professional          4
Unemployed                    2
Analyst                       1
Name: count, dtype: int64

In [75]:
def categorize_depression(rate):
    if rate < 0.05:
        return 0
    elif rate < 0.1:
        return 1
    elif rate < 0.2:
        return 2
    else:
        return 3


# Map the depression rates to their corresponding tiers and create a new column for city tiers
unseen_df['Profession'] = unseen_df['Profession'].map(profession_depression.apply(categorize_depression))
unseen_df['Profession'].isnull().sum()

0

In [76]:
#null_rows = unseen_df[unseen_df['Profession_new'].isnull()]

# Display the null rows
#print(null_rows)

In [77]:
""""age_group_depression = data.groupby('Age Group')['Depression'].mean()

# View depression rate by city category
print(age_group_depression)"""

'"age_group_depression = data.groupby(\'Age Group\')[\'Depression\'].mean()\n\n# View depression rate by city category\nprint(age_group_depression)'

In [78]:

#def age_depression(rate):
#    if rate <= 0.05:
#        return 0
#    elif rate <= 0.1:
#        return 1
#    elif rate <= 0.2:
#        return 2
#    else:
#        return 3


# Map the depression rates to their corresponding tiers and create a new column for city tiers
#unseen_df['Profession'] = unseen_df['Profession'].map(profession_depression.apply(categorize_depression))
# Apply mapping to the column
#data['Age Group'] = data['Age Group'].map(age_group_depression)
#unseen_df['Age Group'] = unseen_df['Age Group'].map(age_group_mapping)

In [79]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Gender,"[Male, Female]",object
2,Age,"[0.8955022529111698, 0.9714202475456699, 0.200...",float64
3,City,"[1, 2, 4]",int64
4,Working Professional or Student,"[Working Professional, Student]",object
5,Profession,"[2, 1, 3, 0]",int64
6,Sleep Duration,"[Less than 5 hours, 7-8 hours, More than 8 hou...",object
7,Dietary Habits,"[Moderate, Healthy, Unhealthy]",object
8,Degree,"[2, 1, 3, 0]",int64
9,Have you ever had suicidal thoughts ?,"[No, Yes]",object
10,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
11,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
12,Family History of Mental Illness,"[Yes, No]",object
13,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
14,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64

In [80]:
data['Gender_Working'] = data['Gender'] + '_' + data['Working Professional or Student']
unseen_df['Gender_Working'] = unseen_df['Gender'] + '_' + unseen_df['Working Professional or Student']

In [81]:
depression_pattern_gender = data.groupby('Gender_Working')['Depression'].mean()

# View the depression rates
print(depression_pattern_gender)
gender_depression = data.groupby('Gender')['Depression'].mean()
print("Depression Percentage by Gender:")
print(gender_depression)

# Calculate depression percentages for Working/Student
working_student_depression = data.groupby('Working Professional or Student')['Depression'].mean()
print("\nDepression Percentage by Working/Student:")
print(working_student_depression)

Gender_Working
Female_Student                 0.584528
Female_Working Professional    0.079479
Male_Student                   0.586218
Male_Working Professional      0.083660
Name: Depression, dtype: float64
Depression Percentage by Gender:
Gender
Female    0.178109
Male      0.184513
Name: Depression, dtype: float64

Depression Percentage by Working/Student:
Working Professional or Student
Student                 0.585470
Working Professional    0.081774
Name: Depression, dtype: float64

In [82]:
data['Sleep Duration'].unique()

array(['More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours',
       'Sleep_Duration', '1-2 hours', '6-8 hours', '4-6 hours',
       '6-7 hours', '10-11 hours', '8-9 hours', '40-45 hours',
       '9-11 hours', '2-3 hours', '3-4 hours', 'Moderate', '55-66 hours',
       '4-5 hours', '9-6 hours', '1-3 hours', 'Indore', '45', '1-6 hours',
       '35-36 hours', '8 hours', 'No', '10-6 hours', 'than 5 hours',
       '49 hours', 'Unhealthy', 'Work_Study_Hours', '3-6 hours',
       '45-48 hours', '9-5', 'Pune', '9-5 hours'], dtype=object)

In [83]:
unseen_df['Sleep Duration'].unique()

array(['Less than 5 hours', '7-8 hours', 'More than 8 hours', '5-6 hours',
       '0', 'Meerut', '9-5 hours', '6-7 hours', '60-65 hours', 'Vivan',
       '3-4 hours', '1-6 hours', '9-5', 'Unhealthy', '8-9 hours',
       '4-5 hours', 'than 5 hours', '9-6 hours', '1-2 hours',
       '8-89 hours', 'Have_you_ever_had_suicidal_thoughts', '20-21 hours',
       '10-6 hours', '1-3 hours', '6 hours', '50-75 hours', '4-6 hours',
       '2-3 hours', '9-11 hours', '9-10 hours', '3-6 hours'], dtype=object)

In [84]:
data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38771
7-8 hours            36963
More than 8 hours    32718
5-6 hours            32130
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: count, dtype: int64

In [85]:
unseen_df['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours                      25661
7-8 hours                              24491
More than 8 hours                      22190
5-6 hours                              21404
6-7 hours                                  7
8-9 hours                                  6
4-5 hours                                  6
2-3 hours                                  4
3-4 hours                                  3
9-5 hours                                  2
1-6 hours                                  2
9-5                                        2
Meerut                                     2
4-6 hours                                  2
1-2 hours                                  2
10-6 hours                                 1
9-10 hours                                 1
9-11 hours                                 1
50-75 hours                                1
6 hours                                    1
1-3 hours                                  1
8-89 hours                                 1
20-21 hours                                1
Have_you_ever_had_suicidal_thoughts        1
60-65 hours                                1
9-6 hours                                  1
than 5 hours                               1
0                                          1
Unhealthy                                  1
Vivan                                      1
3-6 hours                                  1
Name: count, dtype: int64

In [86]:
irrelevant_values = ['9-10 hours', '9-11 hours', '50-75 hours', '8-89 hours','20-21 hours','60-65 hours','Unhealthy','8-9 hours','10-6 hours','More than 8 hours ','9-5 hours','9-5','9-6 hours']
irrelevant_values_one = ['2-3 hours', '3-4 hours', '4-5 hours','1-3 hours','1-2 hours','1-6 hours','4-6 hours','0','3-6 hours','Have_you_ever_had_suicidal_thoughts','than 5 hours']
irrelevant_values_two = ['Meerut', 'Vivan','6 hours','6-7 hours']
unseen_df['Sleep Duration'] = unseen_df['Sleep Duration'].replace(irrelevant_values, 'More than 8 hours')
unseen_df['Sleep Duration'] = unseen_df['Sleep Duration'].replace(irrelevant_values_one, 'Less than 5 hours')
#unseen_df['Sleep Duration'] = unseen_df['Dietary Habits'].replace('irrelevant_values_two' , '7-8 hours')
unseen_df['Sleep Duration'] = unseen_df['Sleep Duration'].replace(irrelevant_values_two , '5-6 hours')
# Remove rows with these irrelevant values
unseen_df['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    25685
7-8 hours            24491
More than 8 hours    22209
5-6 hours            21415
Name: count, dtype: int64

In [87]:
irrelevant_values = ['Work_Study_Hours','Indore','Unhealthy','Pune','45-48 hours','Sleep_Duration','Moderate','55-66 hours','45','35-36 hours','49 hours','40-45 hours','No','than 5 hours','9-5','9-5 hours','3-4 hours','6-7 hours','4-5 hours','2-3 hours','4-6 hours','6-8 hours','1-6 hours','10-11 hours','8-9 hours','9-11 hours','1-2 hours','9-6 hours','1-3 hours','8 hours','10-6 hours','than 5 hours','3-6 hours']

# Remove rows with these irrelevant values
data = data[~data['Sleep Duration'].isin(irrelevant_values)]
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,Female,0.829523,1,Working Professional,0,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0,Female_Working Professional
1,Male,0.301258,1,Working Professional,1,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0,Male_Working Professional
2,Male,0.498889,1,Student,3,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0,Male_Student
3,Male,0.163794,1,Working Professional,1,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0,Male_Working Professional
4,Female,0.419696,1,Working Professional,1,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0,Female_Working Professional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,Female,0.000000,2,Working Professional,3,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0,Female_Working Professional
140696,Female,0.680047,2,Working Professional,0,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0,Female_Working Professional
140697,Female,0.235278,1,Working Professional,1,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0,Female_Working Professional
140698,Female,0.829523,2,Working Professional,1,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0,Female_Working Professional
140699,Male,0.332437,1,Student,3,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0,Male_Student

In [88]:
irrelevant_values = ['9-10 hours', '9-11 hours', '50-75 hours', '8-89 hours','20-21 hours','60-65 hours','Unhealthy','8-9 hours','10-6 hours','More than 8 hours ','9-5 hours','9-5','9-6 hours']
irrelevant_values_one = ['2-3 hours', '3-4 hours', '4-5 hours','1-3 hours','1-2 hours','1-6 hours','4-6 hours','0','3-6 hours','Have_you_ever_had_suicidal_thoughts','than 5 hours']
irrelevant_values_two = ['Meerut', 'Vivan','6 hours','6-7 hours']
data['Sleep Duration'] = data['Sleep Duration'].replace(irrelevant_values, 'More than 8 hours')
data['Sleep Duration'] = data['Sleep Duration'].replace(irrelevant_values_one, 'Less than 5 hours')
#unseen_df['Sleep Duration'] = unseen_df['Dietary Habits'].replace('irrelevant_values_two' , '7-8 hours')
data['Sleep Duration'] = data['Sleep Duration'].replace(irrelevant_values_two , '5-6 hours')
# Remove rows with these irrelevant values
data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38771
7-8 hours            36963
More than 8 hours    32718
5-6 hours            32130
Name: count, dtype: int64

In [89]:
data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38771
7-8 hours            36963
More than 8 hours    32718
5-6 hours            32130
Name: count, dtype: int64

In [90]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Gender,"[Female, Male]",object
1,Age,"[0.8295225380334936, 0.3012580396511537, 0.498...",float64
2,City,"[1, 2, 0, 4]",int64
3,Working Professional or Student,"[Working Professional, Student]",object
4,Profession,"[0, 1, 3, 2]",int64
5,Sleep Duration,"[More than 8 hours, Less than 5 hours, 5-6 hou...",object
6,Dietary Habits,"[Healthy, Unhealthy, Moderate]",object
7,Degree,"[2, 1, 0, 3]",int64
8,Have you ever had suicidal thoughts ?,"[No, Yes]",object
9,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
10,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
11,Family History of Mental Illness,"[No, Yes]",object
12,Depression,"[0, 1]",int64
13,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
14,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64
15,Gender_Working,"[Female_Working Professional, Male_Working Pro...",object

In [91]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Gender,"[Male, Female]",object
2,Age,"[0.8955022529111698, 0.9714202475456699, 0.200...",float64
3,City,"[1, 2, 4]",int64
4,Working Professional or Student,"[Working Professional, Student]",object
5,Profession,"[2, 1, 3, 0]",int64
6,Sleep Duration,"[Less than 5 hours, 7-8 hours, More than 8 hou...",object
7,Dietary Habits,"[Moderate, Healthy, Unhealthy]",object
8,Degree,"[2, 1, 3, 0]",int64
9,Have you ever had suicidal thoughts ?,"[No, Yes]",object
10,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
11,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
12,Family History of Mental Illness,"[Yes, No]",object
13,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
14,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64
15,Gender_Working,"[Male_Working Professional, Female_Working Pro...",object

In [92]:
gender_mapping = {
    'Male': 1,
    'Female': 0
}

# Apply the mapping
data['Gender'] = data['Gender'].map(gender_mapping)
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,0,0.829523,1,Working Professional,0,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0,Female_Working Professional
1,1,0.301258,1,Working Professional,1,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0,Male_Working Professional
2,1,0.498889,1,Student,3,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0,Male_Student
3,1,0.163794,1,Working Professional,1,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0,Male_Working Professional
4,0,0.419696,1,Working Professional,1,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0,Female_Working Professional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0,0.000000,2,Working Professional,3,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0,Female_Working Professional
140696,0,0.680047,2,Working Professional,0,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0,Female_Working Professional
140697,0,0.235278,1,Working Professional,1,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0,Female_Working Professional
140698,0,0.829523,2,Working Professional,1,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0,Female_Working Professional
140699,1,0.332437,1,Student,3,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0,Male_Student

In [93]:
gender_mapping = {
    'Male': 1,
    'Female': 0
}

# Apply the mapping
unseen_df['Gender'] = unseen_df['Gender'].map(gender_mapping)
unseen_df

,id,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,140700,1,0.895502,1,Working Professional,2,Less than 5 hours,Moderate,2,No,9.0,3.0,Yes,2.0,5.0,Male_Working Professional
1,140701,0,0.971420,1,Working Professional,1,Less than 5 hours,Moderate,1,No,6.0,4.0,No,2.0,4.0,Female_Working Professional
2,140702,1,0.895502,1,Working Professional,1,7-8 hours,Moderate,2,Yes,12.0,4.0,No,4.0,1.0,Male_Working Professional
3,140703,0,0.200281,1,Student,3,More than 8 hours,Moderate,2,Yes,10.0,4.0,No,5.0,1.0,Female_Student
4,140704,1,0.794525,1,Working Professional,1,7-8 hours,Moderate,3,Yes,3.0,4.0,No,5.0,5.0,Male_Working Professional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,0,0.829523,1,Working Professional,1,Less than 5 hours,Moderate,2,Yes,2.0,2.0,Yes,3.0,5.0,Female_Working Professional
93796,234496,1,0.391585,2,Working Professional,1,7-8 hours,Moderate,2,Yes,11.0,3.0,Yes,5.0,1.0,Male_Working Professional
93797,234497,1,0.235278,1,Student,3,7-8 hours,Moderate,3,No,7.0,1.0,No,1.0,4.0,Male_Student
93798,234498,0,0.200281,1,Working Professional,1,5-6 hours,Healthy,1,Yes,7.0,5.0,Yes,4.0,2.0,Female_Working Professional
93799,234499,0,0.719929,1,Working Professional,1,More than 8 hours,Healthy,1,No,11.0,2.0,No,5.0,2.0,Female_Working Professional

In [94]:
gender_working_mapping = {
    'Male_Student': 3,
    'Female_Student': 2,
    'Male_Working Professional': 1,
    'Female_Working Professional': 0
}

# Apply mapping
data['Gender_Working'] = data['Gender_Working'].map(gender_working_mapping)
unseen_df['Gender_Working'] = unseen_df['Gender_Working'].map(gender_working_mapping)
data

,Gender,Age,City,Working Professional or Student,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,0,0.829523,1,Working Professional,0,More than 8 hours,Healthy,2,No,1.0,2.0,No,0,5.0,2.0,0
1,1,0.301258,1,Working Professional,1,Less than 5 hours,Unhealthy,2,Yes,7.0,3.0,No,1,4.0,3.0,1
2,1,0.498889,1,Student,3,5-6 hours,Healthy,1,Yes,3.0,1.0,No,1,5.0,2.0,3
3,1,0.163794,1,Working Professional,1,Less than 5 hours,Moderate,1,Yes,10.0,1.0,Yes,1,5.0,1.0,1
4,0,0.419696,1,Working Professional,1,5-6 hours,Unhealthy,1,Yes,9.0,4.0,Yes,0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0,0.000000,2,Working Professional,3,5-6 hours,Unhealthy,3,No,2.0,4.0,Yes,1,5.0,4.0,0
140696,0,0.680047,2,Working Professional,0,7-8 hours,Moderate,3,Yes,6.0,5.0,Yes,0,5.0,4.0,0
140697,0,0.235278,1,Working Professional,1,More than 8 hours,Moderate,2,No,4.0,4.0,No,0,3.0,1.0,0
140698,0,0.829523,2,Working Professional,1,5-6 hours,Moderate,0,Yes,10.0,1.0,No,0,5.0,2.0,0
140699,1,0.332437,1,Student,3,Less than 5 hours,Healthy,3,Yes,2.0,3.0,Yes,1,4.0,1.0,3

In [95]:
wp_mapping = {
    'Working Professional': 1,
    'Student': 0
}

# Apply the mapping
data['Working Professional or Student'] = data['Working Professional or Student'].map(wp_mapping)

In [96]:
wp_mapping = {
    'Working Professional': 1,
    'Student': 0
}

# Apply the mapping
unseen_df['Working Professional or Student'] = unseen_df['Working Professional or Student'].map(wp_mapping)

In [97]:
data = data.drop(columns=['Gender', 'Working Professional or Student'])
unseen_df = unseen_df.drop(columns=['Gender', 'Working Professional or Student'])
unseen_df

,id,Age,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,140700,0.895502,1,2,Less than 5 hours,Moderate,2,No,9.0,3.0,Yes,2.0,5.0,1
1,140701,0.971420,1,1,Less than 5 hours,Moderate,1,No,6.0,4.0,No,2.0,4.0,0
2,140702,0.895502,1,1,7-8 hours,Moderate,2,Yes,12.0,4.0,No,4.0,1.0,1
3,140703,0.200281,1,3,More than 8 hours,Moderate,2,Yes,10.0,4.0,No,5.0,1.0,2
4,140704,0.794525,1,1,7-8 hours,Moderate,3,Yes,3.0,4.0,No,5.0,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,0.829523,1,1,Less than 5 hours,Moderate,2,Yes,2.0,2.0,Yes,3.0,5.0,0
93796,234496,0.391585,2,1,7-8 hours,Moderate,2,Yes,11.0,3.0,Yes,5.0,1.0,1
93797,234497,0.235278,1,3,7-8 hours,Moderate,3,No,7.0,1.0,No,1.0,4.0,3
93798,234498,0.200281,1,1,5-6 hours,Healthy,1,Yes,7.0,5.0,Yes,4.0,2.0,0
93799,234499,0.719929,1,1,More than 8 hours,Healthy,1,No,11.0,2.0,No,5.0,2.0,0

In [98]:
"""data['Age_Dietary_Combination'] = data['Age Group'].astype(str) + '_' + data['Dietary Habits']
unseen_df['Age_Dietary_Combination'] = unseen_df['Age Group'].astype(str) + '_' + unseen_df['Dietary Habits']
# Check the unique combinations before mapping
print(data['Age_Dietary_Combination'].unique())"""

"data['Age_Dietary_Combination'] = data['Age Group'].astype(str) + '_' + data['Dietary Habits']\nunseen_df['Age_Dietary_Combination'] = unseen_df['Age Group'].astype(str) + '_' + unseen_df['Dietary Habits']\n# Check the unique combinations before mapping\nprint(data['Age_Dietary_Combination'].unique())"

In [99]:
"""grouped_data = data.groupby('Age_Dietary_Combination')['Depression'].mean()
grouped_data"""

"grouped_data = data.groupby('Age_Dietary_Combination')['Depression'].mean()\ngrouped_data"

In [100]:

#data = pd.get_dummies(data, 
 #                     columns=['Sleep Duration', 'Dietary Habits', 
 #                              'Have you ever had suicidal thoughts ?', 
 #                              'Family History of Mental Illness', 
 #                              'Age Group'], 
 #                     drop_first=True)

# Ensure all newly created dummy columns are integers
#data = data.astype(int)

# Define the mapping of combinations to numeric values
"""combination_mapping = {
    'Senior_Healthy': 0,
    'Senior_Moderate': 1,
    'Senior_Unhealthy': 2,
    'Middle-Aged_Healthy': 3,
    'Middle-Aged_Moderate': 4,
    'Middle-Aged_Unhealthy': 5,
    'Adult_Healthy': 6,
    'Adult_Moderate': 7,
    'Adult_Unhealthy': 8,
    'Young Adult_Healthy': 9,
    'Young Adult_Moderate': 10,
    'Young Adult_Unhealthy': 11
}

# Map the combinations to a new numeric column
data['Age_Dietary_Combination'] = data['Age_Dietary_Combination'].map(combination_mapping)"""

suicidal_thoughts_mapping = {
    'No': 0,
    'Yes': 1
}

# Apply mapping to the column
data['Have you ever had suicidal thoughts ?'] = data['Have you ever had suicidal thoughts ?'].map(suicidal_thoughts_mapping)

# View the result
print(data['Have you ever had suicidal thoughts ?'].value_counts())

family_history_mapping = {
    'No': 0,
    'Yes': 1
}

# Apply mapping to the column
data['Family History of Mental Illness'] = data['Family History of Mental Illness'].map(family_history_mapping)

# View the result

print(data['Family History of Mental Illness'].value_counts())
"""age_group_mapping = {
    'Young Adult': 0,
    'Adult': 1,
    'Middle-Aged': 2,
    'Senior': 3
}

# Apply mapping to the column
data['Age Group'] = data['Age Group'].map(age_group_mapping)

# View the result

print(data['Age Group'].value_counts())"""
"""age_group_mapping = {
   'Young': 0,
    'Adult': 1,
    'Older': 2
}

#bins = [0, 30, 50, 100]  # Adjusted bins based on depression rates
#labels = ['Young', 'Adult', 'Older']

# Apply mapping to the column
data['Age Group'] = data['Age Group'].map(age_group_mapping)
data['Age Group'] = data['Age Group'].astype(int)

# View the result

print(data['Age Group'].value_counts())"""

#def age_depression(rate):
#    if rate <= 0.05:
 #       return 0
 #   elif rate <= 0.1:
 #       return 1
 #   elif rate <= 0.2:
 #       return 2
 #   else:
 #       return 3


# Map the depression rates to their corresponding tiers and create a new column for city tiers
#unseen_df['Profession'] = unseen_df['Profession'].map(profession_depression.apply(categorize_depression))
# Apply mapping to the column
#data['Age Group'] = data['Age Group'].map(age_group_depression.apply(age_depression))

dietary_habits_mapping = {
    'Healthy': 0,
    'Moderate': 1,
    'Unhealthy': 2
}

# Apply mapping to the column
data['Dietary Habits'] = data['Dietary Habits'].map(dietary_habits_mapping)

# View the result

print(data['Dietary Habits'].value_counts())
sleep_duration_mapping = {
    'Less than 5 hours': 0,
    '5-6 hours': 1,
    '7-8 hours': 2,
    'More than 8 hours': 3
}

# Apply mapping to the column
data['Sleep Duration'] = data['Sleep Duration'].map(sleep_duration_mapping)

# View the result

print(data['Sleep Duration'].value_counts())

Have you ever had suicidal thoughts ?
0    71085
1    69497
Name: count, dtype: int64
Family History of Mental Illness
0    70692
1    69890
Name: count, dtype: int64
Dietary Habits
1    49671
2    46193
0    44718
Name: count, dtype: int64
Sleep Duration
0    38771
2    36963
3    32718
1    32130
Name: count, dtype: int64

In [101]:

#data = pd.get_dummies(data, 
 #                     columns=['Sleep Duration', 'Dietary Habits', 
 #                              'Have you ever had suicidal thoughts ?', 
 #                              'Family History of Mental Illness', 
 #                              'Age Group'], 
 #                     drop_first=True)

# Ensure all newly created dummy columns are integers
#data = data.astype(int)


suicidal_thoughts_mapping = {
    'No': 0,
    'Yes': 1
}

# Apply mapping to the column
unseen_df['Have you ever had suicidal thoughts ?'] = unseen_df['Have you ever had suicidal thoughts ?'].map(suicidal_thoughts_mapping)

# View the result
print(unseen_df['Have you ever had suicidal thoughts ?'].value_counts())

family_history_mapping = {
    'No': 0,
    'Yes': 1
}

# Apply mapping to the column
unseen_df['Family History of Mental Illness'] = unseen_df['Family History of Mental Illness'].map(family_history_mapping)

# View the result

print(unseen_df['Family History of Mental Illness'].value_counts())
"""age_group_mapping = {
    'Young': 0,
    'Adult': 1,
    'Older': 2
}

# Apply mapping to the column
unseen_df['Age Group'] = unseen_df['Age Group'].map(age_group_mapping)
unseen_df['Age Group'] = unseen_df['Age Group'].astype(int)"""
"""age_group_mapping = {
    'Young Adult': 0,
    'Adult': 1,
    'Middle-Aged': 2,
    'Senior': 3
}

# Apply mapping to the column
unseen_df['Age Group'] = unseen_df['Age Group'].map(age_group_mapping)

# View the result

#print(data['Age Group'].value_counts())
# View the result

print(unseen_df['Age Group'].value_counts())"""

#def age_depression(rate):
#    if rate <= 0.05:
 #       return 0
 #   elif rate <= 0.1:
 #       return 1
#    elif rate <= 0.2:
#        return 2
 #   else:
#        return 3


# Map the depression rates to their corresponding tiers and create a new column for city tiers
#unseen_df['Profession'] = unseen_df['Profession'].map(profession_depression.apply(categorize_depression))
# Apply mapping to the column
#unseen_df['Age Group'] = unseen_df['Age Group'].map(age_group_depression.apply(age_depression))

dietary_habits_mapping = {
    'Healthy': 0,
    'Moderate': 1,
    'Unhealthy': 2
}

# Apply mapping to the column
unseen_df['Dietary Habits'] = unseen_df['Dietary Habits'].map(dietary_habits_mapping)

# View the result

print(unseen_df['Dietary Habits'].value_counts())
sleep_duration_mapping = {
    'Less than 5 hours': 0,
    '5-6 hours': 1,
    '7-8 hours': 2,
    'More than 8 hours': 3
}

# Apply mapping to the column
unseen_df['Sleep Duration'] = unseen_df['Sleep Duration'].map(sleep_duration_mapping)

# View the result

print(unseen_df['Sleep Duration'].value_counts())

"""combination_mapping = {
    'Senior_Healthy': 0,
    'Senior_Moderate': 1,
    'Senior_Unhealthy': 2,
    'Middle-Aged_Healthy': 3,
    'Middle-Aged_Moderate': 4,
    'Middle-Aged_Unhealthy': 5,
    'Adult_Healthy': 6,
    'Adult_Moderate': 7,
    'Adult_Unhealthy': 8,
    'Young Adult_Healthy': 9,
    'Young Adult_Moderate': 10,
    'Young Adult_Unhealthy': 11
}

# Map the combinations to a new numeric column
unseen_df['Age_Dietary_Combination'] = unseen_df['Age_Dietary_Combination'].map(combination_mapping)"""

Have you ever had suicidal thoughts ?
0    47375
1    46425
Name: count, dtype: int64
Family History of Mental Illness
0    47118
1    46682
Name: count, dtype: int64
Dietary Habits
1    33036
2    30795
0    29969
Name: count, dtype: int64
Sleep Duration
0    25685
2    24491
3    22209
1    21415
Name: count, dtype: int64

"combination_mapping = {\n    'Senior_Healthy': 0,\n    'Senior_Moderate': 1,\n    'Senior_Unhealthy': 2,\n    'Middle-Aged_Healthy': 3,\n    'Middle-Aged_Moderate': 4,\n    'Middle-Aged_Unhealthy': 5,\n    'Adult_Healthy': 6,\n    'Adult_Moderate': 7,\n    'Adult_Unhealthy': 8,\n    'Young Adult_Healthy': 9,\n    'Young Adult_Moderate': 10,\n    'Young Adult_Unhealthy': 11\n}\n\n# Map the combinations to a new numeric column\nunseen_df['Age_Dietary_Combination'] = unseen_df['Age_Dietary_Combination'].map(combination_mapping)"

In [102]:
"""columns_to_convert = ['Work/Study Hours', 'Financial Stress', 'work_study_pressure', 
                      'Job_Study_Satisfaction', 'Age Group']

# Convert columns
data[columns_to_convert] = data[columns_to_convert].round().astype('int64')"""

"columns_to_convert = ['Work/Study Hours', 'Financial Stress', 'work_study_pressure', \n                      'Job_Study_Satisfaction', 'Age Group']\n\n# Convert columns\ndata[columns_to_convert] = data[columns_to_convert].round().astype('int64')"

In [103]:
columndatatype = [] 
for col in data.columns:
    unique_values =data[col].unique()
    data_type =data[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,Age,"[0.8295225380334936, 0.3012580396511537, 0.498...",float64
1,City,"[1, 2, 0, 4]",int64
2,Profession,"[0, 1, 3, 2]",int64
3,Sleep Duration,"[3, 0, 1, 2]",int64
4,Dietary Habits,"[0, 2, 1]",int64
5,Degree,"[2, 1, 0, 3]",int64
6,Have you ever had suicidal thoughts ?,"[0, 1]",int64
7,Work/Study Hours,"[1.0, 7.0, 3.0, 10.0, 9.0, 6.0, 8.0, 2.0, 0.0,...",float64
8,Financial Stress,"[2.0, 3.0, 1.0, 4.0, 5.0]",float64
9,Family History of Mental Illness,"[0, 1]",int64
10,Depression,"[0, 1]",int64
11,work_study_pressure,"[5.0, 4.0, 1.0, 2.0, 3.0]",float64
12,Job_Study_Satisfaction,"[2.0, 3.0, 1.0, 5.0, 4.0]",float64
13,Gender_Working,"[0, 1, 3, 2]",int64

In [104]:
columndatatype = [] 
for col in unseen_df.columns:
    unique_values =unseen_df[col].unique()
    data_type =unseen_df[col].dtype
    columndatatype.append ([col, unique_values, data_type])
columndatatype_df =pd.DataFrame(columndatatype, columns = ['col','unique_values','data_type'])
columndatatype_df

,col,unique_values,data_type
0,id,"[140700, 140701, 140702, 140703, 140704, 14070...",int64
1,Age,"[0.8955022529111698, 0.9714202475456699, 0.200...",float64
2,City,"[1, 2, 4]",int64
3,Profession,"[2, 1, 3, 0]",int64
4,Sleep Duration,"[0, 2, 3, 1]",int64
5,Dietary Habits,"[1, 0, 2]",int64
6,Degree,"[2, 1, 3, 0]",int64
7,Have you ever had suicidal thoughts ?,"[0, 1]",int64
8,Work/Study Hours,"[9.0, 6.0, 12.0, 10.0, 3.0, 0.0, 8.0, 5.0, 4.0...",float64
9,Financial Stress,"[3.0, 4.0, 2.0, 1.0, 5.0]",float64
10,Family History of Mental Illness,"[1, 0]",int64
11,work_study_pressure,"[2.0, 4.0, 5.0, 1.0, 3.0]",float64
12,Job_Study_Satisfaction,"[5.0, 4.0, 1.0, 3.0, 2.0]",float64
13,Gender_Working,"[1, 0, 2, 3]",int64

In [105]:
"""columns_to_convert = ['Work/Study Hours', 'Financial Stress', 'work_study_pressure', 
                      'Job_Study_Satisfaction', 'Age Group']

# Convert columns
unseen_df[columns_to_convert] = unseen_df[columns_to_convert].round().astype('int64')"""

"columns_to_convert = ['Work/Study Hours', 'Financial Stress', 'work_study_pressure', \n                      'Job_Study_Satisfaction', 'Age Group']\n\n# Convert columns\nunseen_df[columns_to_convert] = unseen_df[columns_to_convert].round().astype('int64')"

In [106]:
data

,Age,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,work_study_pressure,Job_Study_Satisfaction,Gender_Working
0,0.829523,1,0,3,0,2,0,1.0,2.0,0,0,5.0,2.0,0
1,0.301258,1,1,0,2,2,1,7.0,3.0,0,1,4.0,3.0,1
2,0.498889,1,3,1,0,1,1,3.0,1.0,0,1,5.0,2.0,3
3,0.163794,1,1,0,1,1,1,10.0,1.0,1,1,5.0,1.0,1
4,0.419696,1,1,1,2,1,1,9.0,4.0,1,0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.000000,2,3,1,2,3,0,2.0,4.0,1,1,5.0,4.0,0
140696,0.680047,2,0,2,1,3,1,6.0,5.0,1,0,5.0,4.0,0
140697,0.235278,1,1,3,1,2,0,4.0,4.0,0,0,3.0,1.0,0
140698,0.829523,2,1,1,1,0,1,10.0,1.0,0,0,5.0,2.0,0
140699,0.332437,1,3,0,0,3,1,2.0,3.0,1,1,4.0,1.0,3

In [107]:
data["Stress Point"]= data["work_study_pressure"] + data["Financial Stress"]
unseen_df["Stress Point"]= unseen_df["work_study_pressure"] + unseen_df["Financial Stress"]
data.drop(columns=["work_study_pressure", "Financial Stress"], inplace=True)
unseen_df.drop(columns=["work_study_pressure", "Financial Stress"], inplace=True)
data['Stress Point'] = scaler.fit_transform(data[['Stress Point']])
unseen_df['Stress Point'] = scaler.transform(unseen_df[['Stress Point']])
bins = [0, 4, 8, 13]  
labels = ['Low', 'Medium', 'High'] 
data['Work/Study Hours'] = pd.cut(data['Work/Study Hours'], bins=bins, labels=labels, right=False)
work_study_mapping = {
    'Low': 0,
    'Medium': 1,
    'High': 2
}

# Apply mapping to the column
data['Work/Study Hours'] = data['Work/Study Hours'].map(work_study_mapping)
data['Work/Study Hours'] = data['Work/Study Hours'].astype(int)
bins = [0, 4, 8, 13]  
labels = ['Low', 'Medium', 'High'] 
unseen_df['Work/Study Hours'] = pd.cut(unseen_df['Work/Study Hours'], bins=bins, labels=labels, right=False)
unseen_df['Work/Study Hours'] = unseen_df['Work/Study Hours'].map(work_study_mapping)
unseen_df['Work/Study Hours'] = unseen_df['Work/Study Hours'].astype(int)
#data['Age_Satisfaction'] = data['Age'] * data['Job_Study_Satisfaction']
#unseen_df['Age_Satisfaction'] = unseen_df['Age'] * unseen_df['Job_Study_Satisfaction']
#data.drop(columns=['Age', 'Job_Study_Satisfaction'], inplace=True)
#unseen_df.drop(columns=['Age', 'Job_Study_Satisfaction'], inplace=True)
#data.drop(columns=['Age', 'Dietary Habits'], inplace=True)
#unseen_df.drop(columns=['Age', 'Dietary Habits'], inplace=True)
#data.drop(columns=['Dietary Habits'], inplace=True)
#unseen_df.drop(columns=['Dietary Habits'], inplace=True)

In [108]:
#from sklearn.preprocessing import MinMaxScaler

# Assuming you have the DataFrame `data`

# List of columns to be scaled
#numerical_columns = ['Work/Study Hours', 'Financial Stress', 'work_study_pressure', 'Job_Study_Satisfaction', 'Age Group','Profession','Sleep Duration','Dietary Habits']

# Initialize the MinMaxScaler
#scaler = MinMaxScaler()

# Apply the MinMaxScaler to the numerical columns
#data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

data

,Age,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Family History of Mental Illness,Depression,Job_Study_Satisfaction,Gender_Working,Stress Point
0,0.829523,1,0,3,0,2,0,0,0,0,2.0,0,0.625
1,0.301258,1,1,0,2,2,1,1,0,1,3.0,1,0.625
2,0.498889,1,3,1,0,1,1,0,0,1,2.0,3,0.500
3,0.163794,1,1,0,1,1,1,2,1,1,1.0,1,0.500
4,0.419696,1,1,1,2,1,1,2,1,0,1.0,0,0.375
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.000000,2,3,1,2,3,0,0,1,1,4.0,0,0.875
140696,0.680047,2,0,2,1,3,1,1,1,0,4.0,0,1.000
140697,0.235278,1,1,3,1,2,0,1,0,0,1.0,0,0.625
140698,0.829523,2,1,1,1,0,1,2,0,0,2.0,0,0.500
140699,0.332437,1,3,0,0,3,1,0,1,1,1.0,3,0.625

In [109]:
y = data['Depression']
X = data.drop(columns=['Depression'])
X
#y_scaled = data_updated['Depression']
#X_scaled = data_updated.drop(columns=['Depression'])

,Age,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Family History of Mental Illness,Job_Study_Satisfaction,Gender_Working,Stress Point
0,0.829523,1,0,3,0,2,0,0,0,2.0,0,0.625
1,0.301258,1,1,0,2,2,1,1,0,3.0,1,0.625
2,0.498889,1,3,1,0,1,1,0,0,2.0,3,0.500
3,0.163794,1,1,0,1,1,1,2,1,1.0,1,0.500
4,0.419696,1,1,1,2,1,1,2,1,1.0,0,0.375
...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.000000,2,3,1,2,3,0,0,1,4.0,0,0.875
140696,0.680047,2,0,2,1,3,1,1,1,4.0,0,1.000
140697,0.235278,1,1,3,1,2,0,1,0,1.0,0,0.625
140698,0.829523,2,1,1,1,0,1,2,0,2.0,0,0.500
140699,0.332437,1,3,0,0,3,1,0,1,1.0,3,0.625

In [110]:
X.shape

(140582, 12)

In [111]:
y.shape

(140582,)

In [112]:
train, test, target_train, target_test = train_test_split(X, y, train_size= 0.75,random_state=42);

In [113]:
#train_scaled, test_scaled, target_train_scaled, target_test_scaled = train_test_split(X_scaled, y_scaled, train_size= 0.75,random_state=42);

In [114]:
print(train.shape)
print(test.shape)

(105436, 12)
(35146, 12)

In [115]:
# Fit the model to our train and target
xgb_cl = xgb.XGBClassifier(n_jobs = -1,objective = 'binary:logistic')
xgb_cl.fit(train, target_train)  # default 
# Get our predictions
xgb_predictions = xgb_cl.predict(test)
print(accuracy_score(target_test, xgb_predictions))
print("Confusion Matrix:\n", confusion_matrix(target_test, xgb_predictions))

0.9372048028225118
Confusion Matrix:
 [[27741   969]
 [ 1238  5198]]

In [116]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
train_smote, target_train_smote = smote.fit_resample(train, target_train)

In [117]:
print(train_smote.shape)
print(target_train_smote.shape)
print(target_train_smote.value_counts())

(172670, 12)
(172670,)
Depression
0    86335
1    86335
Name: count, dtype: int64

In [118]:
xgb_cl = xgb.XGBClassifier(n_jobs = -1,objective = 'binary:logistic')
# Fit the model to our train and target
xgb_cl.fit(train_smote, target_train_smote)  # default 
# Get our predictions
xgb_predictions = xgb_cl.predict(test)

print(accuracy_score(target_test, xgb_predictions))
print("Confusion Matrix:\n", confusion_matrix(target_test, xgb_predictions))

0.9367211062425311
Confusion Matrix:
 [[27523  1187]
 [ 1037  5399]]

In [119]:
# Fit the model to our train and target
xgb_cl.fit(train_smote, target_train_smote)  # default 
# Get our predictions
probabilities = xgb_cl.predict_proba(test)[:,1]
threshold = 0.59
xgb_predictions = (probabilities > threshold).astype(int)
print(accuracy_score(target_test, xgb_predictions))
print("Confusion Matrix:\n", confusion_matrix(target_test, xgb_predictions))

0.9366357480225346
Confusion Matrix:
 [[27771   939]
 [ 1288  5148]]

In [120]:
#from sklearn.model_selection import GridSearchCV
#from xgboost import XGBClassifier

# Define parameter grid
#param_grid = {
#    'max_depth': 7,
#    'min_child_weight': 1,
#    'gamma': 0,
#    'subsample': 0.8,
#    'colsample_bytree': 1.0,
#    'learning_rate': 0.2
#}

# Initialize model
#xgb_cl = XGBClassifier(use_label_encoder=False, eval_metric='logloss',**param_grid)

# Grid Search
#grid_search = GridSearchCV(
 #   estimator=xgb_cl,
#    param_grid=param_grid,
#    scoring='f1',  # Optimize for F1-score (balance precision & recall)
#    cv=3,
 #   verbose=2,
 #   n_jobs=-1
#)

# Fit on training data
#grid_search.fit(train_smote, target_train_smote)

# Best parameters
#print("Best Parameters:", grid_search.best_params_)

# Predict on test data
#best_model = grid_search.best_estimator_
#probabilities = xgb_cl.predict_proba(test)[:,1]
#threshold = 0.59
#xgb_predictions = (probabilities > threshold).astype(int)
#print(accuracy_score(target_test, xgb_predictions))
#print("Confusion Matrix:\n", confusion_matrix(target_test, xgb_predictions))

In [121]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
param_grid = {
    'max_depth': 7,
    'min_child_weight': 1,
    'gamma': 0,
    'subsample': 0.8,
    'colsample_bytree': 1.0,
    'learning_rate': 0.2
}

# Initialize model
xgb_cl = XGBClassifier(use_label_encoder=False, eval_metric='logloss',**param_grid)
#xgb_cl_final = XGBClassifier(**param_grid)
xgb_cl.fit(train_smote, target_train_smote)

# Grid Search
#grid_search = GridSearchCV(
 #   estimator=xgb_cl,
#    param_grid=param_grid,
#    scoring='f1',  # Optimize for F1-score (balance precision & recall)
#    cv=3,
 #   verbose=2,
 #   n_jobs=-1
#)

# Fit on training data
#grid_search.fit(train_smote, target_train_smote)

# Best parameters
#print("Best Parameters:", grid_search.best_params_)

# Predict on test data
#best_model = grid_search.best_estimator_
probabilities = xgb_cl.predict_proba(test)[:,1]
threshold = 0.59
xgb_predictions = (probabilities > threshold).astype(int)
print(accuracy_score(target_test, xgb_predictions))
print("Confusion Matrix:\n", confusion_matrix(target_test, xgb_predictions))

0.9374608774825016
Confusion Matrix:
 [[27775   935]
 [ 1263  5173]]

In [122]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(train_smote, target_train_smote)

# Step 6: Get Feature Importances
importances = rf_classifier.feature_importances_

# Step 7: Create a DataFrame for Importances
feature_importances = pd.DataFrame({'Feature': X.columns, 'Importance': importances})
feature_importances = feature_importances.sort_values(by='Importance', ascending=False)

# Step 8: Select Top 40 Features
top_features = feature_importances.head(20)['Feature'].tolist()
print("Top 20 features:\n", top_features)

Top 20 features:
 ['Age', 'Stress Point', 'Profession', 'Gender_Working', 'Have you ever had suicidal thoughts ?', 'Job_Study_Satisfaction', 'Degree', 'Sleep Duration', 'Work/Study Hours', 'Dietary Habits', 'Family History of Mental Illness', 'City']

In [123]:
train_reduced = train_smote[top_features]
test_reduced = test[top_features]


# Step 10: Train the Final Random Forest Model with Reduced Features
final_rf_classifier = RandomForestClassifier(n_estimators=300,min_samples_split= 10, min_samples_leaf= 4, max_depth= 30, class_weight='balanced', random_state=42)
final_rf_classifier.fit(train_reduced, target_train_smote)

# Step 11: Make Predictions
y_pred = final_rf_classifier.predict(test_reduced)

# Step 12: Evaluate the Model
accuracy = accuracy_score(target_test, y_pred)
conf_matrix = confusion_matrix(target_test, y_pred)
class_report = classification_report(target_test, y_pred)

# Step 13: Print the Results
print(f'Accuracy: {accuracy * 100:.2f}%')
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 93.18%
Confusion Matrix:
 [[27115  1595]
 [  801  5635]]
Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.94      0.96     28710
           1       0.78      0.88      0.82      6436

    accuracy                           0.93     35146
   macro avg       0.88      0.91      0.89     35146
weighted avg       0.94      0.93      0.93     35146

In [124]:
#param_grid = {
#    'n_estimators': [100, 300, 500],
#    'max_depth': [10, 20, 30, None],
#    'min_samples_split': [2, 5, 10],
#    'min_samples_leaf': [1, 2, 4],
#    'max_features': ['sqrt', 'log2']
#}

#grid_search = GridSearchCV(final_rf_classifier, param_grid, cv=5, scoring='accuracy', verbose=2, n_jobs=-1)
#grid_search.fit(train_reduced, target_train_smote)

#best_model = grid_search.best_estimator_
#print("Best Hyperparameters:", grid_search.best_params_)

In [125]:
from sklearn.ensemble import AdaBoostClassifier
adaboost =  AdaBoostClassifier(n_estimators=200,learning_rate= 0.5,random_state=1)

In [126]:
adaboost.fit(train, target_train)

AdaBoostClassifier(learning_rate=0.5, n_estimators=200, random_state=1)

In [127]:
y_pred = adaboost.predict(test)
print('Accuracy of the model is:  ',accuracy_score(target_test, y_pred))
cm = confusion_matrix(target_test, y_pred)
print('The confusion Matrix : \n',cm)

Accuracy of the model is:   0.9383713651624651
The confusion Matrix :
 [[27739   971]
 [ 1195  5241]]

In [128]:
#import lightgbm as lgb
#from sklearn.metrics import accuracy_score, confusion_matrix
#lgb_model = lgb.LGBMClassifier(n_estimators=100, learning_rate=0.05, random_state=42)
#train_scaled, test_scaled, target_train_scaled, target_test_scaled
# Fit the model
#lgb_model.fit(train_smote, target_train_smote)

# Predictions
#y_pred_lgb = lgb_model.predict(test)

# Evaluate the model
#accuracy_lgb = accuracy_score(target_test, y_pred_lgb)
#print(f"LightGBM Accuracy: {accuracy_lgb * 100:.2f}%")

# Confusion Matrix
#conf_matrix_lgb = confusion_matrix(target_test, y_pred_lgb)
#print("LightGBM Confusion Matrix:")
#print(conf_matrix_lgb)

In [129]:
cv_scores = cross_val_score(adaboost, train, target_train, cv=5, scoring='accuracy')
print("Cross-validation scores:", cv_scores)
print(f"Mean CV accuracy: {cv_scores.mean()}")

Cross-validation scores: [0.93854325 0.93650116 0.93522075 0.93697539 0.93958363]
Mean CV accuracy: 0.9373648357447969

In [130]:
cv_scores = cross_val_score(final_rf_classifier, train_reduced, target_train_smote, cv=5, scoring='accuracy')
print("Cross-validation scores:", cv_scores)
print(f"Mean CV accuracy: {cv_scores.mean()}")

Cross-validation scores: [0.91043609 0.95358198 0.95783865 0.95743325 0.95876527]
Mean CV accuracy: 0.9476110499797301

In [131]:
cv_scores = cross_val_score(xgb_cl, train_smote, target_train_smote, cv=5, scoring='accuracy')
print("Cross-validation scores:", cv_scores)
print(f"Mean CV accuracy: {cv_scores.mean()}")

Cross-validation scores: [0.8562576  0.96166097 0.9669601  0.96953727 0.96971101]
Mean CV accuracy: 0.9448253894712458

In [132]:
#cv_scores = cross_val_score(lgb_model , train_smote, target_train_smote, cv=5, scoring='accuracy')
#print("Cross-validation scores:", cv_scores)
#print(f"Mean CV accuracy: {cv_scores.mean()}")

In [133]:
from xgboost import XGBClassifier
from sklearn.ensemble import StackingClassifier
stacking_model = StackingClassifier(
    estimators=[
        ('rf', final_rf_classifier),
        ('xgb', xgb_cl),
        ('ada', adaboost),
    ],
    #final_estimator=XGBClassifier(n_estimators=50, learning_rate=0.1, max_depth=4, random_state=42),
    final_estimator=XGBClassifier(
        n_estimators=100,
        learning_rate=0.05,
        max_depth=3,
        colsample_bytree=0.8,
        subsample=0.8,
        gamma=1,
        reg_alpha=0.1,
        reg_lambda=1,
        random_state=42
    ),
    cv=5,
    n_jobs=-1
)

In [134]:
stacking_model.fit(train_smote, target_train_smote)

# Make predictions
stack_predictions = stacking_model.predict(test)

# Evaluate
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy = accuracy_score(target_test, stack_predictions)
conf_matrix = confusion_matrix(target_test, stack_predictions)


print(f"Stacking Model Accuracy: {accuracy * 100:.2f}%")
print(f"Confusion Matrix:\n{conf_matrix}")

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:11:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:12:23] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:12:23] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:12:23] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:12:23] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:12:23] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

Stacking Model Accuracy: 93.61%
Confusion Matrix:
[[27366  1344]
 [  901  5535]]

In [135]:
"""sample_weights = np.where(
    (train_smote['Financial Stress'] > 4) | (train_smote['Work/Study Hours']  > 9 ), 
    2,  # Higher weight   # Default weight
    1
)
stacking_model.fit(train_smote, target_train_smote,sample_weight=sample_weights)

# Make predictions
stack_predictions = stacking_model.predict(test)

# Evaluate
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy = accuracy_score(target_test, stack_predictions)
conf_matrix = confusion_matrix(target_test, stack_predictions)


print(f"Stacking Model Accuracy: {accuracy * 100:.2f}%")
print(f"Confusion Matrix:\n{conf_matrix}")"""

'sample_weights = np.where(\n    (train_smote[\'Financial Stress\'] > 4) | (train_smote[\'Work/Study Hours\']  > 9 ), \n    2,  # Higher weight   # Default weight\n    1\n)\nstacking_model.fit(train_smote, target_train_smote,sample_weight=sample_weights)\n\n# Make predictions\nstack_predictions = stacking_model.predict(test)\n\n# Evaluate\nfrom sklearn.metrics import accuracy_score, confusion_matrix\n\naccuracy = accuracy_score(target_test, stack_predictions)\nconf_matrix = confusion_matrix(target_test, stack_predictions)\n\n\nprint(f"Stacking Model Accuracy: {accuracy * 100:.2f}%")\nprint(f"Confusion Matrix:\n{conf_matrix}")'

In [136]:
cv_scores = cross_val_score(stacking_model, train_smote, target_train_smote, cv=5, scoring='accuracy')
print("Cross-validation scores:", cv_scores)
print(f"Mean CV accuracy: {cv_scores.mean()}")

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:13:45] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:14:19] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:14:19] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:14:19] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:14:19] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:14:19] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:15:12] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:15:44] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:15:44] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:15:44] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:15:44] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:15:44] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:16:35] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:17:06] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:17:06] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:17:06] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:17:06] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:17:06] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:17:58] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:18:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:18:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:18:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:18:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:18:34] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:19:28] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:19:59] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:19:59] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:19:59] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:19:59] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:19:59] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

Cross-validation scores: [0.84893149 0.96183471 0.96730758 0.96785776 0.9686396 ]
Mean CV accuracy: 0.9429142294550298

In [137]:

#param_grid = {
#    'final_estimator__n_estimators': [50, 100, 150],
#    'final_estimator__max_depth': [3, 4, 5],
#    'final_estimator__learning_rate': [0.05, 0.1, 0.2],
#}

#grid_search = GridSearchCV(stacking_model, param_grid, cv=5, scoring='accuracy', verbose=2, n_jobs=-1)
#grid_search.fit(train_smote, target_train_smote)

#print("Best Hyperparameters:", grid_search.best_params_)
#print("Best CV Accuracy:", grid_search.best_score_)

In [138]:

X_unseen = unseen_df.drop(columns=['id'])
# Predict with stacking model
predictions = stacking_model.predict(X_unseen)

# Create submission file
submission = unseen_df[['id']].copy()  # Ensure 'ID' column exists in unseen data
submission['Prediction'] = predictions

# Save to CSV
submission.to_csv('submissionone.csv', index=False)
print("Submission file created!")

Submission file created!

In [139]:
#submission.to_csv('/Users/krishnaganesh/Downloads/submissionone.csv',index=False)

In [ ]:
from sklearn.model_selection import cross_val_predict

# Get cross-validated predictions
y_pred_cv = cross_val_predict(stacking_model, train_smote, target_train_smote, cv=5)
misclassified_indices = (target_train_smote != y_pred_cv)

# Extract misclassified rows
misclassified_data = train_smote[misclassified_indices]
misclassified_labels = target_train_smote[misclassified_indices]
misclassified_df = pd.DataFrame(misclassified_data)
misclassified_df['Actual'] = misclassified_labels
misclassified_df['Predicted'] = y_pred_cv[misclassified_indices]
misclassified_df

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:21:11] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:21:48] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:21:48] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:21:48] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:21:48] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:21:48] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:22:55] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:23:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:23:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:23:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:23:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:23:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:24:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:25:03] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:25:03] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:25:03] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:25:03] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:25:03] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:25:55] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:26:27] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:26:27] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:26:27] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:26:27] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:26:27] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/xgboost/core.py:158: UserWarning: [21:27:29] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
[21:59:32] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:59:32] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:59:32] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:59:32] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

[21:59:32] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):

In [ ]:
misclassified_df.to_csv("misclassified_samples.csv", index=False)

In [ ]:
misclassified_df['error'] = misclassified_df['Actual'] - misclassified_df['Predicted']

# Calculate correlation of each feature with the error
correlation_with_error = misclassified_df.corr()['error'].sort_values(ascending=False)

# Print the correlation values
print(correlation_with_error)

In [ ]:
#misclassified_df['Working Professional or Student'].value_counts()

In [ ]:
#misclassified_df['Age Group']

In [ ]:
correlation = data['Age'].corr(data['Sleep Duration'])
print(f"Correlation between Age and Sleep Duration: {correlation}")

In [ ]:
correlation_matrix = data.corr()
correlation_matrix